{% extends 'Admin/base.html.twig' %}

{% block title %}
    {% if form.vars.value.id is null %}
        New Question
    {% else %}
        Edit Question
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.vars.value.id is null %}
            New Question
        {% else %}
            Edit Question
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.question) }}
    {{ form_row(form.status) }}
    {{ form_row(form.answer) }}
    {{ form_row(form.questionsCategory) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
 