<div class="topSectionElNashraEmp">
    <div class="desktopMode"><img src="{{ asset('build/images/elnashra/nashra-top-desktop.jpg') }}" alt=""/></div>
    <div class="tabletMode"><img src="{{ asset('build/images/elnashra/nashra-top-tablet.jpg') }}" alt=""></div>
    <div class="mobileMode"><img src="{{ asset('build/images/elnashra/nashra-top-mobile.jpg') }}" alt=""></div>
    <div class="container info-cont">

        {# <div class="logos">
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		            <span>x</span>
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		        </div> #}
        <div class="information">
            <div class="title">
                موقع النشرة يتيح لك الفرصة لسحب راتبك عبر الحساب الرقمي الأفضل
            </div>
            <div class="desc">
                لمواجهة التحديات المالية التي نواجهها اليوم، قمنا بنقل راتبك إلى تطبيق سيول. سوف تحصل على حساب رقمي مزدوج العملة، بطاقة بلاتينوم ماستركارد، وأداة دفع بأفضل الأسعار المتاحة
            </div>
            <div class="OpenSuyoolAccount">
                <button class="OpenYourSuyoolAccount">
                    {{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}
                </button>
            </div>
        </div>

    </div>
</div>
<div class="InfoSection">
    <div class="container">
        <div class="row">
            <div class="easy_steps_top">{{'6_WAYS_TO_USE_YOUR_MONEY'|trans}}</div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/card.svg') }}" alt="">
                <div class="desc">{{'FREE_PLATINUM_MASTERCARD'|trans}}</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/cashout.svg') }}" alt="">
                <div class="desc">{{'FREE_PAYROLL_CASH_OUT'|trans}}</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/arrow.svg') }}" alt="">
                <div class="desc">{{'SEND_RECEIVE_MONEY_FOR_FREE'|trans}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/internationally.svg') }}" alt="">
                <div class="desc">{{'SEND_MONEY_INTERNATIONALLY'|trans}}</div>

            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/payroll.svg') }}" alt="">
                <div class="desc">{{'PAY_BILLS'|trans}}</div>

            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/payQr.svg') }}" alt="">
                <div class="desc">{{'PAY_WITH_SUYOOL_QR'|trans}}</div>

            </div>
        </div>
    </div>
</div>
