<div class="shopify">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div align="center"><img src="https://suyool.com/build/images/suyool-Logo.png"></div>

    <form id="captchaForm" method="post" style="margin: auto; width: 304px; padding-top: 50px;">
        <!-- Google recaptcha -->
        <div class="g-recaptcha" data-callback="imNotARobot" data-sitekey="6LfFZI0nAAAAAH9-GSKhurD-cqLTIVjYUTjB3Hja"></div>
    </form>
    <iframe name="skash-iframe-QR" id="skash-iframe-QR" src="" height="600px" width="900px" style="border: 1px solid #ccc; display:none;margin:50px auto;border: none"></iframe>

    <script type="text/javascript">
        var imNotARobot = function() {
            $("#skash-iframe-QR").css("display", "block");
            $("#captchaForm").hide();

            // Check if the user is on a mobile device
            if (window.innerWidth < 768) {
                // Do the AJAX request to app_pay_mobile
                $.ajax({
                    type: "post",
                    url: "{{ path('app_pay_mobile') }}",
                    data: {
                        order_id: {{ order_id }},
                        metadata: {{ meta_data|json_encode|raw }}
                    },
                    success: function(data) {
                        var iframe = $("#skash-iframe-QR");
                        var iframeContents = iframe.contents();

                        // Create a div element to hold the HTML content
                        var contentDiv = $("<div>").html(data);

                        // Append the div to the iframe contents
                        iframeContents.find("body").html(contentDiv);
                    }
                });
            } else {
                // Do the AJAX request to app_pay_qr
                $.ajax({
                    type: "post",
                    url: "{{ path('app_pay_qr') }}",
                    data: {
                        order_id: {{ order_id }},
                        metadata: {{ meta_data|json_encode|raw }}
                    },
                    success: function(data) {
                        var iframe = $("#skash-iframe-QR");
                        var iframeContents = iframe.contents();

                        // Create a div element to hold the HTML content
                        var contentDiv = $("<div>").html(data);

                        // Append the div to the iframe contents
                        iframeContents.find("body").html(contentDiv);
                    }
                });
            }
        };

        $(document).ready(function() {
            var iframe_id = $("#skash-iframe-QR");
            if (window.outerWidth < 768) {

                $("#skash-iframe-QR").attr("height", 250);
                $("#skash-iframe-QR").attr("width", 320);
                $("#skash-iframe-QR").attr("name", "skash-iframe-DL");
                $("#skash-iframe-QR").attr("sandbox", "allow-same-origin allow-scripts allow-popups allow-forms allow-top-navigation allow-modals");
            }
        });
    </script>
</div>
