<div class="shopify">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <form id="captchaForm" method="post">
        <!-- Google recaptcha -->
        <div class="g-recaptcha" data-callback="imNotARobot" data-sitekey="6LfFZI0nAAAAAH9-GSKhurD-cqLTIVjYUTjB3Hja"></div>
    </form>

    <iframe name="skash-iframe-QR" id="skash-iframe-QR" src=""  height="600px" width="900px" style="border: 1px solid #ccc; margin: 10px 0; display:none">
        <img src="https://skash.com/new/public/img/Steps-to-scan-QR-syoul.png"/>
        <img src="http://dev.suyool.com/build/images/suyool-Logo.png">
    </iframe>
    <script type="text/javascript">
        var imNotARobot = function() {
            $("#skash-iframe-QR").show();
        };
        (function($){
            $(document).ready(function(){
                var iframe_id = $("#skash-iframe-QR");
                if(window.outerWidth < 768){
                    window.addEventListener ("message", function (event) {
                        if (event.data.url) {
                            setTimeout(function(){
                                console.log(event);
                                if(event.origin.indexOf("skash.com") > -1){
                                    location = event.data.url;
                                }
                            }, 2000);
                        }
                    }, false);
                    $("#skash-iframe-QR").attr("height",250);
                    $("#skash-iframe-QR").attr("width",320);
                    $("#skash-iframe-QR").attr("name","skash-iframe-DL");
                    $("#skash-iframe-QR").attr("SandBox","allow-same-origin allow-scripts allow-popups allow-forms allow-top-navigation allow-modals");
                    $.ajax({
                        type: "post",
                        url: {{ path('app_pay_mobile') }},
                        data: {
                            order_id: {{ order_id }},
                            metadata: {{ meta_data|json_encode|raw }}
                        },
                        success: function(data){
                            var iframe = $("#skash-iframe-QR");
                            var iframeContents = iframe.contents();

                            // Create a div element to hold the HTML content
                            var contentDiv = $("<div>").html(data);

                            // Append the div to the iframe contents
                            iframeContents.find("body").html(contentDiv);
                        }
                    });
                }else{
                    $.ajax({
                        type: "post",
                        url: {{ path('app_pay_qr') }},
                        data: {
                            order_id: {{ order_id }},
                            metadata: {{ meta_data|json_encode|raw }}
                        },
                        success: function(data){
                            var iframe = $("#skash-iframe-QR");
                            var iframeContents = iframe.contents();

                            // Create a div element to hold the HTML content
                            var contentDiv = $("<div>").html(data);

                            // Append the div to the iframe contents
                            iframeContents.find("body").html(contentDiv);
                        }
                    });
                }
            });
        })(jQuery);
    </script>
</div>
