{% extends 'base.html.twig' %}

    {% block body %}
        <div class="help-center-page">
            {% include 'helpCenter/navbar.html.twig' %}
            {% include 'helpCenter/top-section.html.twig' %}
            <div class="help-center light-background{{type}}">
                <div class="container-fluid">
                    <div class="categories-cont row">
                        {% for category in categories %}
                            {% if category.questions | length > 0 %}
                                <div class="category-cont col-xxl-4 col-xl-6 col-md-6">
                                    <div class="card category">
{#                                        <a href="{{ path('category_show', {'id': category.id, 'questionId': category.questions[0].id, 'question': category.questions[0].question|slugifyQuestion }) }}">#}
                                            <div class="category-icon">
                                                {% if category.image is not empty %}
                                                    <img src="{{ asset('images/questionsCategories/' ~ category.image) }}" alt="Category Image" width="100">
                                                {% endif %}
                                            </div>
                                            <div class="title">{{ category.name }}</div>
                                            {% set maxQuestions = 3 %}
                                            {% set displayedQuestions = [] %}
                                            {% for question in category.questions %}
                                                {% if loop.index <= maxQuestions %}
                                                    {% set displayedQuestions = displayedQuestions|merge([question]) %}
                                                {% endif %}
                                            {% endfor %}
                                            {% for question in displayedQuestions %}
                                            <a href="{{ path('category_show', {'id': category.id, 'questionId': question.id, 'question': question.question |slugifyQuestion }) }}"><p class="questions questions{{type}}"><span class="dot background{{type}}"></span>{{ question.question }}</p></a>
                                            {% endfor %}
{#                                        </a>#}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'helpCenter/infoSection.html.twig' %}
        </div>
    {% endblock %}