<div class="result-listing">
    {% for result in results %}
        <div class="res color{{ type }}">
            <i class="fa-solid fa-rocket"></i>
            <div class="text">
                {#                <a href="{{ path('category_show', {'id': result.questionsCategory.id, 'question': result.id}) }}" class="question">{{ result.question }}</a> #}
                <a href="{{ path('category_show', {'id': result.categoryId, 'questionId': result.id, 'question':result.question|slugifyQuestion }) }}"
                   class="question">{{ result.question }}</a>

                <div class="category">in {{ result.categoryName }}</div>
            </div>
        </div>
    {% endfor %}

    <input type="submit" class="show-results color{{ type }}" value="Show all search results">

        <i class="fa-solid fa-greater-than"></i>
    </input>
</div>