{% extends 'base.html.twig' %}

{% block body %}
    <div class="help-center-page">
        {% include 'helpCenter/navbar.html.twig' %}
        {% include 'helpCenter/top-section.html.twig' %}

        <div class="container-fluid search-page">
            <div class="row color{{ type }}">
                <div class="col-3 desktop">
                    <div class="container categories-left-nav">
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <a data-bs-toggle="collapse" class="category color{{type}}" href="#category{{ category.id }}">
                                        {% if category.image is not empty %}
                                            <img src="{{ asset('images/questionsCategories/' ~ category.image) }}" alt="Category Image" width="50">
                                        {% endif %}
                                        {{ category.name }}
                                    </a>
                                    <div id="category{{ category.id }}" class="collapse">
                                        <!-- Category 1 content goes here -->
                                        {% for q in category.questions %}
                                            <p class="question"><a href="/category/{{category.id}}/{{q.id}}/{{q.question|slugifyQuestion}}">{{ q.question }}</a></p>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="title">Results for “{{ searchQuery }}”</div>

                    {% for result in results %}
                        <div class="result">
                            <div class="question"><a href="/category/{{result.categoryId}}/{{result.id}}/{{result.question|slugifyQuestion}}">{{ result.question }}</a></div>
                            <div class="answer">{{ result.answer|raw }}</div>
                            <a class="category"
                               href="{{ path('category_show', {'id': result.categoryId, 'questionId': result.id, 'question': result.question|slugifyQuestion})}}">
                                {% if result.image is not empty %}
                                    <img src="{{ asset('images/questionsCategories/' ~ result.image) }}" alt="Category Image" width="50">
                                {% endif %}
                                in
                                {{result.categoryName}}
                            </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>

    </div>


{% endblock %}