{# templates/helpCenter/show.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="help-center-page">
        {% include 'helpCenter/navbar.html.twig' %}
        {% include 'helpCenter/info-top-section.html.twig' %}

        <div class="container-fluid categories-show-cont">
            <div class="category-show">
                <div class="navigator">
                    <a href="/help-center?type-id={{type}}"><span class="color{{ type }}">Suyool Help Center</span></a>
                    {% if type == 1 %}
                        <img src="{{ asset('build/images/helpCenter/BreadcrumbPersonal.svg') }}">
                    {% elseif type == 2 %}
                        <img src="{{ asset('build/images/helpCenter/BreadcrumbCorporate.svg') }}">
                    {% endif %}
                    <span class="color{{ type }}">{{ category.name }}</span>
                    {% if type == 1 %}
                        <img src="{{ asset('build/images/helpCenter/BreadcrumbPersonal.svg') }}">
                    {% elseif type == 2 %}
                        <img src="{{ asset('build/images/helpCenter/BreadcrumbCorporate.svg') }}">
                    {% endif %}
                    <span id="navigator-question" class="light-color{{ type }}">{{ questions[0].question }}</span>
                </div>
                <h1 class="page-subtitle color{{ type }}">{{ category.name }}</h1>
                <div class="row mt-5">
                    <div class="col-md-4 category-question-cont">
                        <div class="category-questions category-questions{{ type }}">
                            {% for q in questions %}
                                {% if q.status != 0 %}
                                    <a id="{{ q.id }}" href="/category/{{ category.id }}/{{ q.id }}/{{ q.question|slugifyQuestion  }}"
                                       class="question question{{type}} {% if q.id == question.id %}active-question{% endif %}"
                                       data-answer="{{ q.id }}">{{ q.question }}</a>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-answers">
                            <div class="question" id="answer-question">{{ question.question }}</div>
                            <div class="answer" id="answer-desc">{{ question.answer|raw }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="page-subtitle color{{ type }}">What’s Next?</h1>
            <div class="categories-cont row">
                {% for nextCategory in nextCategories %}
                    {% if nextCategory.questions | length > 0 %}
                        <div class="category-cont col-lg-4 col-md-6">
                        <div class="card category">
                            {# {{ path('category_show', {'id': nextCategory.id, 'categoryId':nextCategory.questions[0].id}) }} #}
{#                                <a href="/category/{{ nextCategory.id }}/{{ nextCategory.questions[0].id }}/{{ nextCategory.questions[0].question|slugifyQuestion }}">#}
                                    <div class="category-icon">
                                        <img width="70px"
                                             src="{{ asset('images/questionsCategories/' ~ nextCategory.image) }}"
                                             alt="">
                                    </div>
                                    <div class="title">{{ nextCategory.name }}</div>
                                    {% for question in questionsForNextCategories[nextCategory.id] %}
                                        {% if question.status != 0 %}
                                        <a href="{{ path('category_show', {'id': nextCategory.id, 'questionId': question.id, 'question': question.question |slugifyQuestion }) }}"><p class="questions questions{{type}}"><span class="dot background{{type}}"></span>{{ question.question }}</p></a>
                                        {% endif %}
                                    {% endfor %}
{#                                </a>#}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'elements/get-suyool.html.twig' %}
        {% include 'elements/footer.html.twig' %}

    </div>

{% endblock %}
