{% extends 'Admin/base.html.twig' %}

{% block content %}

    <h1 class="mb-4">Orders</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(orders, 'ID', 'o.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'suyool User ID', 'o.suyoolUserId') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Postpaid', 'o.postpaid') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Prepaid', 'o.prepaid') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Status', 'o.status') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Amount', 'o.amount') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Currency', 'o.currency') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Tran ID', 'o.transId') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.suyoolUserId }}</td>
                <td>{{ order.getpostpaidId() }}</td>
                <td>{{ order.getprepaidId() }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.currency }}</td>
                <td>{{ order.transId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {{ knp_pagination_render(orders) }}
    </div>
{% endblock %}

