{% extends 'Admin/base.html.twig' %}

{% block content %}

    <h1 class="mb-4">Postpaid</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'ID', 'ppr.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'User ID', 'ppr.suyoolUserId') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'GSM Number', 'ppr.gsmNumber') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Currency', 'ppr.currency') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Pin', 'ppr.pin') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Trans Desc', 'ppr.transactionDescription') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Status', 'ppr.status') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Fees', 'ppr.fees') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Fees1', 'ppr.fees1') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Amount', 'ppr.amount') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Amount 1', 'ppr.amount1') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Amount 2', 'ppr.amount2') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Reference Number', 'ppr.referenceNumber') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Informative Original WSamount', 'ppr.informativeOriginalWSamount') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Total Amount', 'ppr.totalamount') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Rounding', 'ppr.rounding') }}</th>
            <th scope="col">{{ knp_pagination_sortable(postpaids, 'Addt Fees', 'ppr.additionalfees') }}</th>

        </tr>
        </thead>
        <tbody>
        {% for postpaid in postpaids %}
            <tr>
                <td>{{ postpaid.id }}</td>
                <td>{{ postpaid.suyoolUserId }}</td>
                <td>{{ postpaid.gsmNumber }}</td>
                <td>{{ postpaid.currency }}</td>
                <td>{{ postpaid.pin }}</td>
                <td>{{ postpaid.transactionDescription }}</td>
                <td>{{ postpaid.status }}</td>
                <td>{{ postpaid.fees }}</td>
                <td>{{ postpaid.fees1 }}</td>
                <td>{{ postpaid.amount }}</td>
                <td>{{ postpaid.amount1 }}</td>
                <td>{{ postpaid.amount2 }}</td>
                <td>{{ postpaid.referenceNumber }}</td>
                <td>{{ postpaid.informativeOriginalWSamount }}</td>
                <td>{{ postpaid.totalamount }}</td>
                <td>{{ postpaid.additionalfees }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {{ knp_pagination_render(postpaids) }}
    </div>
{% endblock %}

