{% extends 'Admin/base.html.twig' %}

{% block content %}

    <h1 class="mb-4">Prepaid</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(prepaids, 'ID', 'pr.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(prepaids, 'User ID', 'pr.suyoolUserId') }}</th>
            <th scope="col">{{ knp_pagination_sortable(prepaids, 'Voucher Code', 'pr.voucherCode') }}</th>
            <th scope="col">{{ knp_pagination_sortable(prepaids, 'Description', 'pr.description') }}</th>
            <th scope="col">{{ knp_pagination_sortable(prepaids, 'errorMsg', 'pr.errorMsg') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for prepaid in prepaids %}
            <tr>
                <td>{{ prepaid.id }}</td>
                <td>{{ prepaid.suyoolUserId }}</td>
                <td>{{ prepaid.voucherCode }}</td>
                <td>{{ prepaid.description }}</td>
                <td>{{ prepaid.errorMsg }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {{ knp_pagination_render(prepaids) }}
    </div>
{% endblock %}

