<div class="col-md-2 sidebar">
    <div class="row">
        <div class="absolute-wrapper"> </div>
        <div class="side-menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ url('admin') }}/"><span class="fa fa fa-home"></span> {{ '_MAIN_PAGE_'|trans({},'admin')}}</a></li>
                        <li class=""><a href="{{ path('list_news') }}"><span class="fa fa-newspaper"></span> {{ '_NEWS_'|trans({},'admin') }}</a></li>
                        <li class=""><a href="{{ path('list_livenews') }}"><span class="fa fa-rss"></span> {{ '_LIVE_NEWS_'|trans({},'admin') }}</a></li>
                        {% if not is_granted('ROLE_ELECTIONS') %}
                        <li class=""><a href="{{ path('list_categories') }}/"><span class="fa fa-th-list"></span> {{ '_CATEGORIES_'|trans({},'admin') }}</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class=""><a href="{{ path('list_managers') }}"><span class="fa fa-users"></span> {{ '_MANAGERS_'|trans({},'admin') }}</a></li>
                        {% endif %}
                        <li class=""><a href="{{ path('list_albums') }}"><span class="fa fa-image"></span> {{ '_ALBUMS_'|trans({},'admin') }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}"><span class="fa fa-sign-out-alt"></span> {{ '_LOGOUT_'|trans({},'admin') }}</a></li>
                    </ul>
                </div>
                <a href="{{ url('admin') }}/news/new/1" class="btn btn-primary btn-lg btn-block" style="border-radius: 0;clear: both;">{{ '_NEWS_NEW_'|trans }}</a>
            </nav>
        </div>
    </div>
</div>