{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <div class="container how_to_send_money">
        <img class="user_img" src="{% if request_details_response.image is defined %}{{request_details_response.image}}{% else %}{{ asset('build/images/payment/person.png') }}{% endif %}">
        <div class="user_name">{% if request_details_response.SenderName is defined %}{{request_details_response.SenderName}}{% else %}{{ 'FNAME_LNAME'|trans }}{% endif %}</div>
        <div class="methode">{{ 'IS_REQUESTING'|trans  }}</div>
        {# <div class="methode">{% if request_details_response.RespTitle is defined %}{{request_details_response.RespTitle}}{% else %}{{ 'IS_REQUESTING'|trans  }}{% endif %}</div> #}
        <div class="amount">{% if request_details_response.Amount is defined %}{{request_details_response.Amount}}{% else %}{{'PRICE'|trans}}{% endif %}</div>
        <div class="desc">{% if request_details_response.TransferReason is defined %}{{request_details_response.TransferReason}}{% else %}{{'DESCRIPTION'|trans}}{% endif %}</div>
    </div>

    <div class="container how_to_pay">
        <div class="title">{{'CHOOSE_HOW_TO_PAY_THEM'|trans}}</div>

        <div class="container-fluid choose_way open-suyool-account" title="Open suyool account">
            <div class="row">
                <div class="col-2 logo_container">
                    <img class="logo" src="{{ asset('build/images/payment/pay_with_suyool.jpg') }}" >
                </div>
                <div class="col-10 text_container">
                    <div class="sub_title">{{'PAY_WITH_SUYOOL'|trans}}</div>
                    <div class="desc">{{'ENROLL_TO_SUYOOL_IN_3_MINUTES'|trans}}</div>
                </div>
            </div>
        </div>

        {% if currency == "$" %}
            <a class="container-fluid choose_way" href="/request/visaCard">
                <div class="row">
                    <div class="col-2 logo_container">
                        <img class="logo" src="{{ asset('build/images/payment/pay_with_card.jpg') }}" >
                    </div>
                    <div class="col-10 text_container">
                        <div class="sub_title">{{'PAY_WITH_CARD'|trans}}</div>
                        <div class="desc">{{'PAT_WITH_CARD_DESC'|trans}}</div>
                    </div>
                </div>
            </a>
        {% endif %}
       
        <a class="container-fluid choose_way" href="/request/generateCode?code={{ app.session.get('Code') }}&type=cash" title="generate code">
            <div class="row">
                <div class="col-2 logo_container">
                    <img class="logo" src="{{ asset('build/images/payment/cash_input.jpg') }}" >
                </div>
                <div class="col-10 text_container">
                    <div class="sub_title">{{'CASH_INPUT'|trans}}</div>
                    <div class="desc">{{'VISIT_THE_NEAREST_ADD_MONEY'|trans}}</div>
                </div>
            </div>
        </a>
       
        {% if currency == "$" %}
            {% if request_details_response.IBAN is defined %}
                <a  type="button" class="container-fluid choose_way copy-to-clipboard" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-to-copy="{{ request_details_response.IBAN }}">
                    <div class="row">
                        <div class="col-2 logo_container">
                            <img class="logo" src="{{ asset('build/images/payment/IBAN.jpg') }}" >
                        </div>
                        <div class="col-10 text_container">
                            <div class="sub_title">{{'COPY_IBAN'|trans}}</div>
                            <div class="desc">{{'COPY_IBAN_DESC'|trans}}</div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endif %}

        <a class="lear_abou_suyool" href="/" title="sKash">{{'LEARN_MORE_ABOUT_SUYOOL'|trans}} Suyool</a>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body modal-container">
                <img class="logo" src="{{ asset('build/images/payment/doneImage.svg') }}" >
                <div class="title">{{'IBAN_COPIED_TO_CLIPBOARD'|trans}}</div>
                <div class="desc">{{'IBAN_HAD_BEEN_COPIED'|trans}}</div>
                <button type="button" class="btn" data-bs-dismiss="modal">{{'EXIT'|trans}}</button>
        </div>
        </div>
    </div>
    </div>
{# 
    <script>
        function copyToClipboard(text) {
            // create a temporary input element to hold the IBAN text
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = text;
            document.body.appendChild(tempInput);

            // select the text inside the temporary input element
            tempInput.select();
            tempInput.setSelectionRange(0, 99999); /*For mobile devices*/

            // copy the selected text to the clipboard
            document.execCommand("copy");

            // remove the temporary input element
            document.body.removeChild(tempInput);

            // show the modal window
            var modal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
            modal.show();
        }
    </script>    #}
{% endblock %}
