{% extends '@Admin/base.html.twig' %}

{% block currentPage %}homepage{% endblock %}

{% block body %}
    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading header-form">
            <h3>Threshold History</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <table class="table table-striped rate-history-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Threshold</th>
                <th>Direction</th>
                <th>Creator</th>
            </tr>
            </thead>
            <tbody>
            {% if not thresholdHistory is empty %}
                {% for threshold in thresholdHistory %}
                    <tr>
                        <td>{{ threshold.displayDate() }}</td>
                        <td>{{ threshold.displayTime() }}</td>
                        <td>{{ threshold.threshold }}</td>
                        <td><span class="rateDirection glyphicon {{ threshold.displayDirection() }}"></span></td>
                        <td>{{ threshold.creatorData.name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {#<div style="margin: 0 0 16px">
        <input type="hidden" id="query" value="{query}">
        <input type="button" class="button" id="exportToCSV" value="Export to CSV">
    </div>#}
{% endblock %}