{% extends 'base.html.twig' %}
{% block body %}
	{% include 'elements/header.html.twig' %}

	<div class="supportBody">

		<div class="form-main">
			<div class="main-wrapper">
				<h2 class="form-head">Contact Form</h2>

				{{ form_start(form) }}
				<div class="form-card">
					{{ form_row(form.name) }}
				</div>
				<div class="form-card">
					{{ form_row(form.mail) }}
				</div>
				<div class="form-card">
					{{ form_row(form.subject) }}
				</div>
				<div class="form-card">
					{{ form_row(form.message) }}
				</div>
				<div class="btn-wrap">
					<button type="submit">
						Submit
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

		<div class="info">
			Contact us on:
			<a href="tel:96181484000" class="contactus">+961 81 484 000</a><br>
			Email:
			<a href="mailto: contact@suyool.com" class="contactus">contact@suyool.com</a>
		</div>
	</div>

	{% include 'elements/footer.html.twig' %}

{% endblock %}
