{% extends 'Admin/base.html.twig' %}

{% block currentPage %}homepage{% endblock %}

{% block content %}
<div class="panel panel-default multi-panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="col-md-12 main-menu">
            <div class="row placeholders">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-xs-6 col-sm-4 placeholder text-center">
                    <div class="dashborder">
                        <h4>Alfa</h4>
                        <div class="TicketsCount">
                            {% for key,value in alfa.resultArray %}
                                <a href="{{path('admin_alfa_orders')}}">
                                Orders {{key}}:{{value}}
                                </a>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="TicketsCount" href="{{ path('admin_alfa_postpaid') }}" >PostPaid: {{alfa.postpaidcount}}</div>
                        <div class="TicketsCount" href="{{ path('admin_alfa_prepaid') }}">PrePaid: {{alfa.prepaidcount}}</div>
                        <div class="TotalAmount">Total Amount PostPaid: {{alfa.postpaidsum}}</div>
                        <div class="TotalAmount">Total Amount PrePaid: {{alfa.prepaidsum}}</div>
                    </div>
                </div>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_email_subscribers') }}">
                    <div class="dashborder">
                        <h4>Email Subscribers</h4>
                    </div>

                </a>
                <div class="col-xs-6 col-sm-4 placeholder text-center" onclick="location.href='/admin/orders'">
                    <div class="dashborder">
                        <h4>Loto</h4>
                        <div class="TicketsCount">Purchased Grids: {{ loto.count }}</div>
                        <div class="thismonth">This Month(purchased): {{ loto.thismonth }}</div>
                        <div class="TicketsCount">
                            {% for key,value in loto.resultArray %}
                                <a href="/admin/orders?search_loto_form%5Bstatus%5D={{key}}&search_loto_form%5Bamount%5D=&search_loto_form%5Bsave%5D=">
                                Orders {{key}}:{{value}}
                                </a>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="TotalAmount">Amount: {{ loto.TotalAmount }}</div>
                    </div>

                </div>

                {% endif %}
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_show_questions_photo') }}">
                    <div class="dashborder">
                        <h4>Questions Image</h4>
                    </div>

                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_questions_categories') }}">
                    <div class="dashborder">
                        <h4>Questions Category</h4>
                    </div>

                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_questions') }}">
                    <div class="dashborder">
                        <h4>Questions</h4>
                    </div>

                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}