{% extends 'Admin/base.html.twig' %}

{% block currentPage %}homepage{% endblock %}

{% block content %}
<div class="panel panel-default multi-panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="col-md-12 main-menu">
            <div class="row placeholders">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_users') }}">
                    <div class="dashborder">
                        <h4>Users</h4>
                    </div>
                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_email_subscribers') }}">
                    <div class="dashborder">
                        <h4>Email Subscribers</h4>
                    </div>

                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_loto_orders') }}">
                    <div class="dashborder">
                        <h4>Loto</h4>
                        <div class="TicketsCount">Purchased Grids: {{ loto.count }}</div>
                        <div class="thismonth">This Month(purchased): {{ loto.thismonth }}</div>
                        <div class="TicketsCount">
                            {% for key,value in loto.resultArray %}
                            Orders {{key}}:{{value}}<br>
                        {% endfor %}
                        </div>
                        <div class="TotalAmount">Amount: {{ loto.TotalAmount }}</div>
                    </div>

                </a>

                {% endif %}
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_show_questions_photo') }}">
                    <div class="dashborder">
                        <h4>Questions Image</h4>
                    </div>

                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_questions_categories') }}">
                    <div class="dashborder">
                        <h4>Questions Category</h4>
                    </div>

                </a>
                <a class="col-xs-6 col-sm-4 placeholder text-center" href="{{ path('admin_questions') }}">
                    <div class="dashborder">
                        <h4>Questions</h4>
                    </div>

                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}