{% extends 'Admin/base.html.twig' %}

    {% block currentPage %}Support
    {% endblock %}
    
    
    {% block content  %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone number</th>
                    {# <th>Subscription</th> #}
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
    
                {% for info in pagination  %}
                    {# <a href="{{path('admin_loto_tickets',{'id':order.id})}}"> #}
                    <tr class="pointer {% if order.redFlag is defined %} redFlag {% endif %}">
                        <td>{{ info.getId() }}</td>
                        <td>{{ info.getname() }}</td>
                        <td>{{ info.getmail() }}</td>
                        <td>{{info.message()}}</td>
                        {# <td>{{ order.created|date("Y-m-d H:i:s") }}</td> #}
                    </tr>
                    {# </a> #}
                {% endfor %}
    
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% if pagination.getItems() == null %}
            <div class="orderEmpty">Support empty</div>
        {% endif %}
    {% endblock %}
    