{% extends 'Admin/base.html.twig' %}

{% block content %}

    <h1 class="mb-4">Merchant Credentials</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'ID', 'c.id') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Shop', 'c.shop') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Access Token', 'c.accessToken') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Test Checked', 'c.testChecked') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Test MerchantID', 'c.testMerchantId') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Live Checked', 'c.liveChecked') }}</th>
            <th scope="col">{{ knp_pagination_sortable(credentials, 'Live MerchantID', 'c.liveMerchantId') }}</th>

        </tr>
        </thead>
        <tbody>
        {% for credential in credentials %}
            <tr>
                <td>{{ credential.id }}</td>
                <td>{{ credential.shop }}</td>
                <td>{{ credential.accessToken }}</td>
                <td>{{ credential.testChecked }}</td>
                <td>{{ credential.testMerchantId }}</td>
                <td>{{ credential.liveChecked }}</td>
                <td>{{ credential.liveMerchantId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {{ knp_pagination_render(credentials) }}
    </div>
{% endblock %}

