<div class="home-mastercard">
    <div class="card-img-mobile">
        <img src="{{ asset('/build/images/homepage/security-mobile.png') }}" alt="suyool security">
    </div>
    <div class="row">
        <div class="card-img-desk col-5">
            <img src="{{ asset('/build/images/homepage/account-security.png') }}" alt="souyool security">
        </div>
        <div class="col-md-7 col-12">
            <div class="card-desc">
                <h2 class="title">Your Account Security is our Top Priority</h2>
                <div class="text sub-title">We take the security of your accounts very seriously therefore we have implemented a variety of measures to keep your accounts and data secure.</div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="suyool check">
                    <p>Biometric login everytime.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="suyool check">
                    <p>Two-factor authentication for access and transaction’s security.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="suyool check">
                    <p>Encryption system that protects your data and information.</p>
                </div>
            </div>
        </div>
    </div>
</div>