{% extends 'base.html.twig' %}

{% block body %}

	<div class="commingSoon">
		<div class="header">
			<img src="{{asset('build/images/commingSoon/suyoolLogo.png')}}" alt="">
		</div>


		<div class="container-fluid body">
			<div class="row">

				<div class="col-lg-6 col-md-8 col-sm-12">
					<div class="title">Your Cashless Solution</div>
					<div class="desc">Be the first to know when we launch</div>
					<form method="post" id="emailForm">
						<input type="hidden" name="token" value="{{ csrf_token('email') }}"/>
						<div class="inputSection">
							<div class="thisInput">
								<span>
									<i class="fa-solid fa-envelope"></i>
								</span><input type="email" id="email" name="email" placeholder="Enter your email address" required>
							</div>
							<input type="submit" class="NotifyMe" value="Notify Me">
						</div>
					</form>
					<div class="downloadImageSection">
						<img src="{{asset('build/images/commingSoon/appstore.png')}}" alt="appstore">
						<img src="{{asset('build/images/commingSoon/playstore.png')}}" alt="playstore">
					</div>
				</div>
				<div class="col-6"></div>
			</div>

		</div>


		<div class="footer">
			<div class="socialMedia">
				<a href="https://twitter.com/SuyoolApp" class="aLink" target="_blank"><img src="{{asset('build/images/commingSoon/twitter.png')}}" alt="twitter"></a>
				<a href="https://www.youtube.com/channel/UCklNtt3g1Kv6Gknc6dxjuLQ/" class="aLink" target="_blank"><img src="{{asset('build/images/commingSoon/youtube.png')}}" alt="youtube"></a>
				<a href="https://www.instagram.com/suyoolapp/" class="aLink" target="_blank"><img src="{{asset('build/images/commingSoon/instagram.png')}}" alt="instagram"></a>
				<a href="https://www.linkedin.com/company/suyool/" class="aLink" target="_blank"><img src="{{asset('build/images/commingSoon/linkedin.png')}}" alt="linkedin"></a>
				<a href="https://www.facebook.com/profile.php?id=100090131421284" class="aLink" target="_blank"><img src="{{asset('build/images/commingSoon/facebook.png')}}" alt="facebook"></a>
				<div class="mt-lg-3 mt-2 text-center text-white"><a href="{{ path('app_privacy_policy') }}">Privacy</a><a href="{{ path('app_terms_and_conditions') }}">Terms</a></div>
				<div class="mt-lg-3 mt-2 text-center text-white">Contact us on:<a href="tel:96181484000" class="contactus">+961 81 484 000</a><br> Email:<a href="mailto: contact@suyool.com" class="contactus">contact@suyool.com</a></div>
			</div>
			<div class="copyRightSection">
				<img src="{{asset('build/images/commingSoon/love.png')}}" alt="love">
				<div class="Copyright">Copyright © 2023.Built with love.</div>
			</div>
			<div class="emptySpace"></div>
			<div class="base"><img  src="{{asset('build/images/commingSoon/Base.png')}}" alt="" class="responsiveimage"></div>
			{# class="animate__animated animate__bounce" #}
			<div class="mobile"><img  src="{{asset('build/images/commingSoon/mobile.png')}}" alt=""></div>
			{# class="animate__animated animate__bounce animate__delay-2s" #}
		</div>

	</div>


		<div class="modal fade myModaldesign" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailaddedLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="emailTitle"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="emailStatus"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn owerBtn" onclick="location.reload()" id="emailBtn"></button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
