<div class="home-mastercard">
    <div class="card-img-mobile">
        <img src="{{ asset('/build/images/visacard.png') }}" alt="">
    </div>
    <div class="row">
        <div class="col-md-7 col-12">
            <div class="card-desc">
                <div class="title">Suyool Platinum Mastercard® With Exclusive Privileges</div>
                <div class="text sub-title">A debit card you can control from your Suyool app, in addition to all <span>Mastercard Platinum Benefits.</span></div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">Internationally & locally accepted - In-store & Online</p>
                    <p class="mobile">Internationally accepted</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">Full control of your card from your Suyool App</p>
                    <div class="mobile">Manage your card from Suyool App</div>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">Platinum Mastercard travel, lifestyle & shopping privileges</p>
                    <div class="mobile">Lower cross-borders fees</div>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">Free safe delivery all over Lebanon</p>
                    <div class="mobile">Free delivery</div>
                </div>

                <div class="blue-btn">Learn More</div>
            </div>
        </div>
        <div class="card-img-desk col-5">
            <img src="{{ asset('/build/images/homepage/mastercard-security.png') }}" alt="">
        </div>
    </div>
</div>