<div class="home-mastercard">
    <div class="card-img-mobile">
        <img src="{{ asset('/build/images/homepage/platinum-mobile.png') }}" alt="">
    </div>
    <div class="row">
        <div class="col-md-7 col-12">
            <div class="card-desc">
                <div class="title">Suyool Platinum Mastercard® With Exclusive Privileges</div>
                <div class="text sub-title">A debit card you can control from your Suyool app, in addition to all <a href="/mastercard">Mastercard Platinum Benefits.</a></div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p>Internationally & locally accepted - In-store & Online</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p>Full control of your card from your Suyool App</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p>Platinum Mastercard travel, lifestyle & shopping privileges</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.svg')}}" alt="">
                    <p>Free safe delivery all over Lebanon</p>
                </div>

                <a href="{{ path('app_mastercard') }}" class="blue-btn">Learn More</a>
            </div>
        </div>
        <div class="card-img-desk col-5">
            <img src="{{ asset('/build/images/homepage/mastercard-security.svg') }}" alt="">
        </div>
    </div>
</div>