{% extends 'base.html.twig' %}

{% block body %}
    <div class="top_section_mastercard-container">
        <div class="top_section_mastercard container-fluid">
            {% include 'elements/header-v2.html.twig' %}

            <div class="row">
                <div class="col-md-8 col-12 top-info order-2 order-md-1">
                    <h1>Suyool Platinum Mastercard Privileges in Details</h1>
                    <p>Start enjoying Platinum Benefits instantly, from travel discounts </br> to shopping perks, and elevate your lifestyle beyond imagination.</p>
{#                    <div class="buttons-cont">#}
{#                        <button class="btn button-primary mr-5">Discover Benefits</button>#}
{#                    </div>#}
                </div>
{#                <div class="col-md-4 col-12 right-section order-1 order-md-2">#}
{#                    <div class="img-cont">#}
{#                        <img src="{{ asset('build/images/platinumMastercard/topSection.png') }}" alt="Suyool">#}
{#                    </div>#}
{#                </div>#}
            </div>

        </div>
    </div>

    <div class="row four_steps">
        <div class="col-lg-3 col-md-6 col-sm-12 step">
            <img src="{{ asset('build/images/platinumMastercard/acceptance.svg') }}" alt="Suyool">
            <div class="title">Acceptance</div>
            <div class="description">Millions of Acceptance points in Lebanon and all over the world</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 step">
            <img src="{{ asset('build/images/platinumMastercard/safety_security.svg') }}" alt="Suyool">
            <div class="title">Safety & Security</div>
            <div class="description">Secure transactions no matter where you’re spending!</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 step">
            <img src="{{ asset('build/images/platinumMastercard/convenience_control.svg') }}" alt="Suyool">
            <div class="title">Convenience & Control</div>
            <div class="description">Controlling and managing your cost and spending the way you want to!</div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 step">
            <img src="{{ asset('build/images/platinumMastercard/relevance.svg') }}" alt="Suyool">
            <div class="title">Relevance</div>
            <div class="description">Having access to unique & relevant benefits catering to your needs!</div>
        </div>
    </div>

    <div class="row three_steps">
        <div class="step">
            <div class="sub">
                <img src="{{ asset('build/images/platinumMastercard/travel.svg') }}" alt="Suyool">
                <div class="title">TRAVEL</div>
                <div class="description">Elevate your travel experience with the Suyool Platinum Mastercard. Enjoy exclusive lounge access, airline and travel discounts, hotel and car rental savings, and unique city experiences. Explore the world hassle-free.</div>
            </div>
        </div>
        <div class="step">
            <div class="sub">
                <img src="{{ asset('build/images/platinumMastercard/lifestyle.svg') }}" alt="Suyool">
                <div class="title">LIFESTYLE</div>
                <div class="description">Enhance your lifestyle with the Suyool Platinum Mastercard. Shop smart with discounts at select retailers, access a premium shipping membership, dine out for less, and enjoy various lifestyle perks.</div>
            </div>
        </div>
        <div class="step">
            <div class="sub">
                <img src="{{ asset('build/images/platinumMastercard/peace_of_mind.svg') }}" alt="Suyool">
                <div class="title">PEACE OF MIND</div>
                <div class="description">Enhance your lifestyle with the Suyool Platinum Mastercard. Shop smart with discounts at select retailers, access a premium shipping membership, dine out for less, and enjoy various lifestyle perks.</div>
            </div>
        </div>
    </div>


    <div class="mastercard_page">
        <div class="title">TRAVEL</div>
        <div class="descri">Elevate your Travel Experience</div>

        <div class="cards row">
            {% for card in cardData %}
                <div class="col-lg-4 col-md-6 col-sm-12 big_card">
                    <div class="card">
                        <img src="{{ asset(card.imagePath) }}" alt="Suyool">
                        <div class="text">
                            <div class="title">{{ card.title }}</div>
                            {% for point in card.points %}
                                <div class="points">
                                    <div class="dot"></div>
                                    <div class="desc">{{ point }}</div>
                                </div>
                            {% endfor %}
                        </div>
{#                        <div class="lear_more"><a href="{{ card.learnMoreLink }}"><span>Learn More</span><i class="fa-solid fa-arrow-right"></i></a></div>#}
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-4 col-md-6 col-sm-12 big_card_coat">
                    <div class="card_coat">
                        <div class="coat">* Please be aware that this offer may not be applicable to all hotels, lounges, outlet malls, or VIP lounges, as availability may vary by location and establishment.</div>
                    </div>
                </div>
        </div>
       
    </div>

    <div class="mastercard_page">
        <div class="title">LIFESTYLE</div>
        <div class="descri">Enhance your Lifestyle</div>

        <div class="cards row">
            {% for card in lifeStyleData %}
                <div class="col-lg-4 col-md-6 col-sm-12 big_card">
                    <div class="card">
                        <img src="{{ asset(card.imagePath) }}" alt="Suyool">
                        <div class="text">
                            <div class="title">{{ card.title }}</div>
                            {% for point in card.points %}
                                <div class="points">
                                    <div class="dot"></div>
                                    <div class="desc">{{ point }}</div>
                                </div>
                            {% endfor %}
                        </div>
{#                        <div class="lear_more"><a href="{{ card.learnMoreLink }}"><span>Learn More</span><i class="fa-solid fa-arrow-right"></i></a></div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="ligne"><div class="coat">* Please be aware that this offer may not be applicable to all hotels, lounges, outlet malls, or VIP lounges, as availability may vary by location and establishment.</div></div>
        
       
    </div>

    <div class="alfa">
        <div class="alfa-mastercard">
            <div class="row">
                <div class="col-lg-7 col-12 order-lg-1 order-2">
                    <div class="card-desc">
                        <div class="main_title">PEACE OF MIND</div>
                        <div class="title">Purchase Protection</div>
                        <div class="text sub-title">Automatically protect your purchases from theft or accident for 180 days with Purchase Protection from your Platinum Mastercard®. Visit <a href="https://mcpeaceofmind.com">Purchase Protection</a>  to claim online.</div>
                        <div class="text check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p class="desktop">Purchase Protection for eligible Mastercard purchases.</p>
                        </div>
                        <div class="text check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p class="desktop">Coverage for theft or accidental damage up to 180 days from purchase.</p>
                        </div>
                        <div class="text check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p class="desktop">Coverage for theft or accidental damage up to 180 days from purchase.</p>
                        </div>
                        <div class="text check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p class="desktop">Up to $2,000 per claim, with a maximum of $5,000 annually.s</p>
                        </div>
                        <div class="text check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p class="desktop">Replacement or compensation based on store receipt for damaged items.</p>
                    </div>
                    </div>
                </div>
                <div class="card-img-desk col-lg-5 order-lg-2 order-1">
                    <img src="{{ asset('/build/images/platinumMastercard/platinumCard.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% include 'elements/gettheapp.html.twig' %}

    {% include 'elements/footer.html.twig' %} 
{% endblock %}
