<div class="home-mastercard">
    <div class="card-img-mobile">
        <img class="notification" src="{{ asset('/build/images/homepage/notifications-mobile.png') }}" alt="">
    </div>
    <div class="row">
        <div class="col-md-7 col-12">
            <div class="card-desc">
                <div class="title">Receive Notifications For Your Every Transaction</div>
                <div class="text sub-title">Real-time updates on your financial activities, including purchases, deposits, withdrawals, and transfers.</div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p>Monitor your financial activities - Instant notifications upon payment.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p>Stay on top of your budgets.</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p>Customize the type of notifications you want to receive.</p>
                </div>
{#                <div class="text check">#}
{#                    <img src="{{asset('build/images/check.png')}}" alt="">#}
{#                    <p>Download your official statement of account in just one tap.</p>#}
{#                </div>#}

                {# <div class="blue-btn">Learn More</div> #}
            </div>
        </div>
        <div class="card-img-desk col-5">
            <img src="{{ asset('/build/images/homepage/notifications.png') }}" alt="">
        </div>
    </div>
</div>