<div class="container-fluid secure-safe" style="padding-bottom:86px">
    <div class="row">
        <div class="col-lg-5">
            <div class="image">
                <img src="{{asset('build/images/safe&secure.png')}}" alt="">
            </div>
            
        </div>
        <div class="col-lg-6">
            <div class="updated">ACCOUNT SAFE & SECURE</div>
            <div class="receive">Your Account Security is our <br> Top Priority</div>
            <div class="title">We take the security of your accounts very seriously therefore we have implemented a variety of measures to keep your accounts and data secure.</div>
            <div class="checked">
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Biometric login everytime</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Two-factor authentication for access and transaction’s security.</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Encryption system that protects your data and information.</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Fraud Detection and Prevention</span>
            </div>
            <a href="#" class="learnmore">Learn More</a>
        </div>
    </div>
</div>