<div class="home_body_desktop">
    <div class="how_suyool_work">WHAT CAN I DO WITH MY MONEY?</div>
    <div class="easy_steps">6 Ways To Use Your Money</div>
    <div class="manage_spend">All your financial needs in one App</div>
</div>
<div class="home_body_mobile">
    <div class="how_suyool_work">WHAT CAN I DO WITH MY MONEY?</div>
    <div class="easy_steps">6 Ways To Use Your Money</div>
    <div class="manage_spend">All your financial needs in one App</div>
</div>
<div class="use-money">
    <div class="use-row">
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/qr-icon.svg')}}" alt="">
                <p>Pay at merchants</p>
            </div>
            <div class="text">By just scanning your Suyool QR at checkout.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/matercard1.svg')}}" alt="">
                <p>Pay with your card</p>
            </div>
            <div class="text">In store, online, in Lebanon or abroad.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/pay-bill.svg')}}" alt="">
                <p>Pay your bills</p>
            </div>
            <div class="text">Directly from the app in a few taps.</div>
        </div>
    </div>
    <div class="use-row">
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/leb-map1.svg')}}" alt="">
                <p>Pay anyone in Lebanon</p>
            </div>
            <div class="text">Send money to anyone in Lebanon by just using their mobile number.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/pay-abroad.svg')}}" alt="">
                <p>Pay anyone abroad</p>
            </div>
            <div class="text">Transfer to more than 67 destinations at very competitive rates</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/homepage/cash-out1.svg')}}" alt="">
                <p>Cash Out</p>
            </div>
            <div class="text">From 700+ BOB Finance Cashpoints all over Lebanon.</div>
        </div>
    </div>
</div>
