<div class="home_body_desktop">
    <div class="how_suyool_work">WHAT CAN I DO WITH MY MONEY?</div>
    <div class="easy_steps">WHAT CAN I DO WITH MY MONEY?</div>
    <div class="manage_spend">All your financial needs in one App</div>
</div>
<div class="use-money">
    <div class="use-row">
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Pay at merchants</p>
            </div>
            <div class="text">By just scanning your Suyool QR at checkout.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Pay with your card</p>
            </div>
            <div class="text">In store, online, in Lebanon or abroad.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Pay your bills</p>
            </div>
            <div class="text">Pay your bills</div>
        </div>
    </div>
    <div class="use-row">
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Pay anyone in Lebanon</p>
            </div>
            <div class="text">Send money to anyone in Lebanon by just using their mobile number.</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Pay anyone abroad</p>
            </div>
            <div class="text">Transfer to more than 67 destinations at very competitive rates</div>
        </div>
        <div class="item">
            <div class="head">
                <img src="{{asset('build/images/OnlinePayment.png')}}" alt="">
                <p>Withdraw money</p>
            </div>
            <div class="text">From 700+ BOB Finance Cashpoints all over Lebanon</div>
        </div>
    </div>
</div>
