<div class="container-fluid visa-section ">
    <div class="row">
        <div class="col-lg-6 ">
            <div class="updated">VISA Debit Card</div>
            <div class="receive">Receive notifications for<br> your every transaction</div>
            <div class="title">Make purchases and transactions around the world with ease and convenience. Suyool Visa card provides your a reliable and secure way for to shop globally.</div>
            <div class="checked">
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Globally accepted</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Manage your card from Suyool App</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Better exchange rates</span>
                <span> <img src="{{asset('build/images/check.png')}}" alt=""> Lower cross-borders fees</span>
            </div>
            <a href="#" class="learnmore">Learn More</a>
        </div>
        <div class="col-lg-6 center">
            <img src="{{asset('build/images/visacard.png')}}" alt="">
        </div>
    </div>
</div>