{% extends 'base.html.twig' %}

	{% block body %}
	<div class="entireBody">
		<div class="popup">
		<div class="image">
			<img src="{{ asset(imgsrc) }}" alt="">
		</div>
		<div class="title">
			{{title}}
		</div>
		<div class="desc">
			{{description}}
		</div>
		<div class="button">
			<button class="action">{{button}}</button>
		</div>
	</div>
	</div>
{# 	
		{% if form is defined %}
		{{form_start(form)}}
		<div id="submit">{{ form_row(form.save) }}</div>
		{{form_end(form)}}
		{% else %}
		{% endif %} #}
	{% endblock %}
	