{% extends 'Admin/base.html.twig' %}

{% block currentPage %}LOTO_order{% endblock %}


{% block content  %}
	<table class="table">
		<thead>
			<tr>
				<th>OrderId</th>
				<th>Suyooler</th>
				<th>TicketId</th>
                <th>Draw number</th>
				<th>gridSelected</th>
                <th>zeednumbers</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>

			{% for tickets in pagination  %}
				{# <a href="{{path('admin_loto_tickets',{'id':order.id})}}"> #}
				<tr class="pointer">
					<td>{{ tickets.id }}</td>
					<td>{{ tickets.fname }} {{ tickets.lname }}</td>
					<td>{{ tickets.ticketId }}</td>
                    <td>{{ tickets.drawNumber }}</td>
					<td>{{ tickets.gridSelected|split('|')|join('<br>')|raw }}</td>
					<td>{{tickets.zeednumbers}}</td>
					<td>{{ tickets.created|date("Y-m-d H:i:s") }}</td>
				</tr>
				{# </a> #}
			{% endfor %}

		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% if pagination.getItems() == null %}
		<div class="orderEmpty">Tickets empty</div>
	{% endif %}
{% endblock %}
