{% extends 'Admin/base.html.twig' %}

{% block currentPage %}LOTO_order{% endblock %}


{% block content  %}
	{{ form_start(form) }}
	{{ form_row(form.status) }}
	{{form_row(form.amount)}}
	{{ form_end(form) }}
	<button id="btnExport" onclick="exportToExcel()">Export HTML Table</button>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>SuyoolUser</th>
				<th>Status</th>
				{# <th>Subscription</th> #}
				<th>Amount</th>
				<th>TransId</th>
				<th>Currency</th>
				<th>Error</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>

			{% for order in pagination  %}
				{# <a href="{{path('admin_loto_tickets',{'id':order.id})}}"> #}
				<tr class="pointer {% if order.redFlag is defined %} redFlag {% endif %} {% if order.greenFlag is defined and order.redFlag is not defined  %} greenFlag {% endif %} " onclick="window.location.href='{{path('admin_loto_tickets',{'id':order.id})}}'">
					<td>{{ order.id }}</td>
					<td>{{ order.fname }} {{ order.lname }}</td>
					<td>{{ order.status }}</td>
					{# <td>{{ order.subscription }}</td> #}
					<td>{{ order.amount }}</td>
					<td>{{ order.transId }}</td>
					<td>{{ order.currency }}</td>
					<td>{{order.error}}</td>
					<td>{{ order.created|date("Y-m-d H:i:s") }}</td>
				</tr>
				{# </a> #}
			{% endfor %}

		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% if pagination.getItems() == null %}
		<div class="orderEmpty">Order empty</div>
	{% endif %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>

		<script type="text/javascript">
		function exportToExcel() {
			/* Get table element by id */
			var table = document.querySelector(".table");
	
			/* Convert table to workbook */
			var workbook = XLSX.utils.table_to_book(table);
	
			/* Save the workbook as an Excel file */
			XLSX.writeFile(workbook, "exported_data.xlsx");
		}
</script>
{% endblock %}
