{% extends '@EasyAdmin/page/content.html.twig' %}

   
    {% block main  %}
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>SuyoolUserId</td>
                    <td>Status</td>
                    <td>Subscription</td>
                    <td>Amount</td>
                    <td>TransId</td>
                    <td>Currency</td>
                    <td>Created</td>
                </tr>
            </thead>
            <tbody>
                {% for order in orders  %}
                <tr {% if order.redFlag is defined %}class="redFlag"{% endif %}>
                        <td>{{ order.id }}</td>
                        <td>{{ order.suyoolUserId }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.subscription }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.transId }}</td>
                        <td>{{ order.currency }}</td>
                        <td>{{ order.created|date("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}
