{% extends 'Admin/base.html.twig' %}

{% block currentPage %}LOTO_order{% endblock %}


{% block content  %}
	{{ form_start(form) }}
	{{ form_row(form.status) }}
	{{form_row(form.amount)}}
	{{ form_end(form) }}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>SuyoolUserId</th>
				<th>Status</th>
				<th>Subscription</th>
				<th>Amount</th>
				<th>TransId</th>
				<th>Currency</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>

			{% for order in pagination  %}
				{# <a href="{{path('admin_loto_tickets',{'id':order.id})}}"> #}
				<tr class="pointer {% if order.redFlag is defined %} redFlag {% endif %} " onclick="window.location.href='{{path('admin_loto_tickets',{'id':order.id})}}'">
					<td>{{ order.id }}</td>
					<td>{{ order.suyoolUserId }}</td>
					<td>{{ order.status }}</td>
					<td>{{ order.subscription }}</td>
					<td>{{ order.amount }}</td>
					<td>{{ order.transId }}</td>
					<td>{{ order.currency }}</td>
					<td>{{ order.created|date("Y-m-d H:i:s") }}</td>
				</tr>
				{# </a> #}
			{% endfor %}

		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% if pagination.getItems() == null %}
		<div class="orderEmpty">Order empty</div>
	{% endif %}
{% endblock %}
