{% extends 'Admin/base.html.twig' %}

{% block currentPage %}Winning tickets{% endblock %}


{% block content  %}
	{# {{ form_start(form) }}
	{{ form_row(form.status) }}
	{{form_row(form.amount)}}
	{{ form_end(form) }} #}
	<button id="btnExport" onclick="exportToExcel()">Export To excel</button>
	<table class="table">
		<thead>
			<tr>
				<th>OrderId</th>
                <th>Suyooler</th>
				<th>ticketId</th>
				<th>gridSelected</th>
				<th>zeednumbers</th>
                <th>winLoto</th>
                <th>winZeed</th>
                <th>winningStatus</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>

			{% for winningTickets in winningTickets  %}
				<tr class="pointer">
					<td>{{ winningTickets.id }}</td>
					<td>{{ winningTickets.fname }} {{ winningTickets.lname }}</td>
					<td>{{ winningTickets.ticketId }}</td>
					<td>{{ winningTickets.gridSelected }}</td>
					<td>{{ winningTickets.zeednumbers }}</td>
					<td>{{ winningTickets.winLoto }}</td>
					<td>{{winningTickets.winZeed}}</td>
                    <td>{{winningTickets.winningStatus}}</td>
					<td>{{ winningTickets.created|date("Y-m-d H:i:s") }}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>

		<script type="text/javascript">
		function exportToExcel() {
			/* Get table element by id */
			var table = document.querySelector(".table");
	
			/* Convert table to workbook */
			var workbook = XLSX.utils.table_to_book(table);
	
			/* Save the workbook as an Excel file */
			XLSX.writeFile(workbook, "winners.xlsx");
		}
</script>
{% endblock %}
