{% block tagsinput_widget %}
    {% apply spaceless %}
        <div class="tags-options">
            {#      <label for="tags-exactterm1">
                      <input type="checkbox" name="tags_exactterm" class="tags-exactterm" id="tags-exactterm1"> {{ '_EXACT_SEARCH_'|trans({},'admin') }}
                  </label>#}
            <a id="suggestTags" href="#">{{ 'SUGGESTED_TAGS'|trans({},'admin') }}</a>
            <a id="clearTags" href="#">{{ '_DELETE_'|trans({},'admin') }}</a>
            <img class="suggest-tags-loader" src="{{ asset('build/images/loader.gif') }}" style="position: absolute; margin: -3px 3px;" hidden>
        </div>
        <div class="form-group">
            {%- set type = type|default('text') -%}
            {{ block('form_widget_simple') }}
        </div>
    {% endapply %}
{% endblock %}


{#
{% block ckeditor_widget_extra %}
    {% apply spaceless %}
        {{ block('ckeditor_widget_extra') }}
        {{ include("@Admin/news/socialMediaEmbed.html.twig") }}
    {% endapply %}
{% endblock %}#}
