<div class="download-app-modal">
    <div class="modal fade modal-design" id="DownloadApp" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-0 border-0">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-cont pb-4">
                    <div class="row">
                        <div class="icon col-4">
                            <img src="{{ asset('build/images/suyool-icon.svg') }}" alt="">
                        </div>
                        <div class="mod-title col-8">GET THE SUYOOL APP</div>
                    </div>

                    <h5 class="download-text">Scan, Download & Open an Account!</h5>

                    <div class="row pb-5">
                        <div class="col-6">
                            <img class="qr-image" src="{{ asset('build/images/qr-blue.svg') }}" alt="">
                        </div>
                        <div class="col-6 download-links">
                            <img src="{{ asset('build/images/download-playstore.png') }}" alt="">
                            <img src="{{ asset('build/images/download-appstore.png') }}" alt="">
                            <img src="{{ asset('build/images/download-appgallery.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>