<div class="download-app-modal">
    <div class="modal fade modal-design" id="DownloadApp" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-0 border-0">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-cont pb-3">
                    <div class="row">
                        <div class="icon col-4">
                            <img src="{{ asset('build/images/suyool-icon.svg') }}" alt="">
                        </div>
{#                        if isset the param suyoolerPopup then make the title suyoolerPopup['title']#}
                        {% if suyoolerPopup is defined %}
                            <div class="mod-title col-8">{{ suyoolerPopup['title'] }}</div>
                        {% else %}
                            <div class="mod-title col-8">{{'OPEN_YOUR_SUYOOL_ACCOUNT_CAP'|trans}}</div>
                        {% endif %}
                    </div>

                    {% if suyoolerPopup is defined %}
                        <h5 class="download-text text-center">{{ suyoolerPopup['description'] }}</h5>
                    {% else %}
                        <h5 class="download-text">{{'SCAN_AND_DOWNLOAD'|trans}}</h5>
                    {% endif %}

                    <div class="row pb-5">
                        {% if suyoolerPopup is defined %}
                            <div class="col-4"></div>
                            <div class="col-6">
                                <img class="qr-image" src="{{ asset('build/images/qr-blue.svg') }}" alt="">
                            </div>
                        {% else %}
                            <div class="col-6">
                                <img class="qr-image" src="{{ asset('build/images/qr-blue.svg') }}" alt="">
                            </div>
                            <div class="col-6 download-links">
                                <img src="{{ asset('build/images/download-playstore.png') }}" alt="">
                                <img src="{{ asset('build/images/download-appstore.png') }}" alt="">
                                <img src="{{ asset('build/images/download-appgallery.png') }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>