<footer>
    <div class="container-fluid footer">
        <div class="row content">
            <div class="col-md-4 title-desktop desktop">
                <a href="{{ path('homepage') }}"><img src="{{ asset('build/images/footersuyool.png') }}"></a>
                <span class="SmartTrans">Your Money, Your Choice</span>

                <div class="social">
                    <a href="https://www.facebook.com/SuyoolApp" target="_blank"><img src="{{ asset('build/images/facebook.svg') }}" alt=""></a>
                    <a href="https://www.instagram.com/suyoolapp" target="_blank"><img src="{{ asset('build/images/instagram.svg') }}" alt=""></a>
                    <a href="https://www.linkedin.com/company/suyool/about" target="_blank"><img src="{{ asset('build/images/linkedin.svg') }}" alt=""></a>
                    <a href="https://www.youtube.com/@SuyoolApp" target="_blank"><img src="{{ asset('build/images/youtube.svg') }}" alt=""></a>
                    <a href="https://twitter.com/SuyoolApp" target="_blank"><img src="{{ asset('build/images/x.svg') }}" alt=""></a>
                    <a href="https://www.tiktok.com/@suyoolapp" target="_blank"><img  width="36.84" src="{{ asset('build/images/tiktok.svg') }}" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <a href="{{ path('homepage') }}" class="title_A">PERSONAL</a>
                <a href="{{ path('app_mastercard') }}" class="desc_A">Platinum Mastercard</a>
                <a href="{{ path('presonal_fees') }}" class="desc_A">Fees</a>
                <a href="{{ path('terms_and_conditions_personal') }}" class="desc_A">Terms & Conditions</a>
            </div>
            <div class="col-md-3 col-6">
                <a href="{{ path('app_digital_corporate') }}" class="title_A">BUSINESS</a>
                <a href="{{ path('app_digital_corporate') }}" class="desc_A">Corporate Account</a>
                <a href="{{ path('app_omnichannel') }}" class="desc_A">Merchant Account</a>
                <a href="{{ path('terms_and_conditions') }}" class="desc_A">Terms & Conditions</a>
            </div>
            <div class="col-md-2 col-12 mt-2">
                <a href="#" class="title_A">SUYOOL</a>
                <div class="desktop">
                    <a href="{{ path('app_contact_us') }}" class="desc_A">Contact Us</a>
{#                    <a href="#" class="desc_A">About Us</a>#}
                    <a href="{{ path('app_privacy') }}" class="desc_A">Privacy & Policy</a>
                    <a href="{{ path('help_center') }}" class="desc_A">Help Center</a>
                    <a class="calluson">
                        <img src="{{asset('build/images/call.svg')}}" alt="">
                        <div>Available 24/7 <br>on our hotline: 81 484 000</div>
                    </a>
                </div>

                <div class="row mobile">
                    <div class="col-6 bottom-section">
                        <a href="{{ path('app_contact_us') }}" class="desc_A">Contact Us</a>
                        <a href="{{ path('app_privacy') }}" class="desc_A">Privacy & Policy</a>
                    </div>
                    <div class="col-6">
{#                        <a href="#" class="desc_A">About Us</a>#}
                        <a href="{{ path('help_center') }}" class="desc_A">Help Center</a>
                    </div>

                    <a class="calluson" href="tel:+1234567890">
                        <img src="{{asset('build/images/call.svg')}}" alt="">
                        <div>Available 24/7 <br>on our hotline: 81 484 000</div>
                    </a>

                </div>

            </div>

            <div class="col-md-4 title-mobile col-12 my-5">
                <a href="{{ path('homepage') }}"><img src="{{ asset('build/images/footersuyool.png') }}"></a>
                <span class="SmartTrans">Your Money, Your Choice</span>

                <div>
                    <div class="social">
                        <a href="https://www.facebook.com/SuyoolApp" target="_blank"><img src="{{ asset('build/images/facebook.svg') }}" alt=""></a>
                        <a href="https://www.instagram.com/suyoolapp" target="_blank"><img src="{{ asset('build/images/instagram.svg') }}" alt=""></a>
                        <a href="https://www.tiktok.com/@suyoolapp" target="_blank"><img src="{{ asset('build/images/tiktok.svg') }}" alt=""></a>
                    </div>
                    <div class="social">
                        <a href="https://www.linkedin.com/company/suyool/about" target="_blank"><img src="{{ asset('build/images/linkedin.svg') }}" alt=""></a>
                        <a href="https://www.youtube.com/@SuyoolApp" target="_blank"><img src="{{ asset('build/images/youtube.svg') }}" alt=""></a>
                        <a href="https://twitter.com/SuyoolApp" target="_blank"><img src="{{ asset('build/images/x.svg') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>
<div class="subfooter">
    © 2023 Suyool All rights reserved.
</div>