<footer>
    <div class="container-fluid footer">
        <div class="row content">
            <div class="col-md-4 title-desktop desktop">
                <img src="{{ asset('build/images/footersuyool.png') }}">
                <span class="SmartTrans">Smart Transaction<br> Secured Privacy</span>

                <div class="social">
                    <a href=""><img src="{{ asset('build/images/facebook.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/instagram.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/linkedin.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/youtube.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/x.svg') }}" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <a href="#" class="title_A">Account</a>
                <a href="#" class="desc_A">Account</a>
                <a href="#" class="desc_A">Transfer Money</a>
                <a href="#" class="desc_A">P2P</a>
                <a href="#" class="desc_A">Exchange</a>
                <a href="#" class="desc_A">Cash Out</a>
            </div>
            <div class="col-md-3 col-6">
                <a href="#" class="title_A">Payment Tool</a>
                <a href="#" class="desc_A">QR Payment</a>
                <a href="#" class="desc_A">Platinum Mastercard</a>
                <a href="#" class="desc_A">Pay Bills</a>
                <a href="#" class="desc_A">Split Bills</a>
                <a href="#" class="desc_A">Merchant Partners</a>
            </div>
            <div class="col-md-2 col-12">
                <a href="#" class="title_A">Company</a>
                <div class="desktop">
                    <a href="#" class="desc_A">Careers</a>
                    <a href="#" class="desc_A">FAQ</a>
                    <a href="#" class="desc_A">Partners</a>
                    <a href="#" class="desc_A">Privacy & Policy</a>
                </div>

                <div class="row mobile">
                    <div class="col-6 p-0">
                        <a href="#" class="desc_A">Careers</a>
                        <a href="#" class="desc_A">FAQ</a>
                    </div>
                    <div class="col-6 p-0">
                        <a href="#" class="desc_A">Partners</a>
                        <a href="#" class="desc_A">Privacy & Policy</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 title-mobile col-12 my-5">
                <img src="{{ asset('build/images/footersuyool.png') }}">
                <span class="SmartTrans">Smart Transaction<br> Secured Privacy</span>

                <div class="social">
                    <a href=""><img src="{{ asset('build/images/facebook.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/instagram.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/linkedin.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/youtube.svg') }}" alt=""></a>
                    <a href=""><img src="{{ asset('build/images/x.svg') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>


</footer>
<div class="subfooter">
    © 2023 Suyool All rights reserved.
</div>