<div class="getTheApp" id="qrGetTheApp">
    <div class="title">
        {{"SCAN_DOWNLOAD"|trans}}
    </div>
    <div class="desc">
        {{"GET_SUYOOL_NOW"|trans}}
    </div>
    <div class="qr">
        <img src="{{ asset('build/images/gettheapp.png') }}" alt="">
    </div>
    <div class="download">
        <div class="playstore">
            <img src="{{ asset('build/images/download-playstore.png') }}" alt="">
        </div>
        <div class="appstore">
            <img src="{{ asset('build/images/download-appstore.png') }}" alt="">
        </div>
        <div class="appgallery">
            <img src="{{ asset('build/images/download-appgallery.png') }}" alt="">
        </div>
    </div>
</div>