<div class="navbar navbar-expand-lg navbar_v2">
    <a class="navbar-brand" href="/"><img src="{{ asset('build/images/suyool-title-white.png') }}" alt="Suyool"></a>
    <a class="navbar-brand-blue" style="display: none" href="/"><img src="{{ asset('build/images/suyool-Logo.png') }}" alt="Suyool"></a>

    <!-- Desktop Navbar Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-5">
            <li class="nav-item">
                <a class="nav-link personal-underline" href="{{ path('homepage') }}">Personal</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link business-underline" href="{{ path('app_digital_corporate') }}">Business</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if corporateBTn is defined and corporateBTn is not empty %}
                        <button type="button" class="btn button-primary" onclick="window.location.href='/legal_enrollment'">{{ corporateBTn }}</button>
                    {% else %}
                        <button type="button" class="btn button-primary" onclick="window.location.href='#qrGetTheApp'">Open Suyool Account</button>
                    {% endif %}
                </li>
        </ul>
    </div>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavbar" aria-controls="mobileNavbar">
        <span class="navbar-toggler-icon">
            <div class="burger-menu">
                <div class="bar {{ barBgColor }}"></div>
                <div class="bar {{ barBgColor }}"></div>
                <div class="bar {{ barBgColor }}"></div>
            </div>
        </span>
    </button>

    <!-- Mobile Navigation Drawer -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNavbar" aria-labelledby="mobileNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="mobileNavbarLabel"><img src="{{asset('build/images/suyool-title-white.png')}}"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <div class="offcanvas-body">
                            <ul class="navbar-nav">
                                <li class="nav-item head">
                                    <a class="nav-link" href="#">PERSONAL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_mastercard') }}">Platinum Mastercard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('terms_and_conditions_personal') }}">Terms & Conditions</a>
                                </li>

                                <li class="nav-item head">
                                    <a class="nav-link" href="#">BUSINESS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_digital_corporate') }}">Corporate Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_omnichannel') }}">Merchant Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('terms_and_conditions') }}">Terms & Conditions</a>
                                </li>

                                <li class="nav-item head">
                                    <a class="nav-link" href="#">SUYOOL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_contact_us') }}">Contact Us</a>
                                </li>
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="#">About Us</a>#}
{#                                </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_privacy') }}">Privacy & Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('help_center') }}">Help Center</a>
                                </li>

                                <li class="nav-item nav-btn-cont">
                                    <button type="button" class="btn button-primary open-suyool-account">Open Suyool Account</button>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>
