<nav class="hotline-header {{ bgColor }} navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6">
                <a class="navbar-brand-blue" href="/"><img src="{{ asset('build/images/suyool-Logo.png') }}" alt="Suyool"></a>
            </div>
            <div class="col-6">
                <div class="" id="navbarNav">
                    <ul class="navbar-nav ms-auto justify-content-end">
                        <li class="nav-item">
                            <div class="calluson py-2">
                                <div><div class="desktopMode">Available 24/7 on our hotline:<span><a  class="{{ btnBgColor }}" href="tel:+96101290900"><img src="{{asset('build/images/mobile.svg')}}"/> 01 290 900</a></span></div></div>
                                <div><div class="tabletmobileMode"><span><a  class="{{ btnBgColor }}" href="tel:+96101290900"><img src="{{asset('build/images/mobile.svg')}}"/> 01 290 900</a></span></div></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
