<div class="merchants">
    <div class="row">
        <div class="network">{{'MERCHANT_NETWORK'|trans}}</div>
        <div class="partner">{{'OUR_TOP_PARTNERS'|trans}}</div>
        <div class="merchantsdisplay">
            <img  src="{{asset('build/images/merchants/spinneys.png')}}" alt="">
            <img  src="{{asset('build/images/merchants/roadster.png')}}" alt="">
            <img  src="{{asset('build/images/merchants/toters.png')}}" alt="">
            <img  src="{{asset('build/images/merchants/alfa.png')}}" alt="">
            <img  src="{{asset('build/images/merchants/charcutier.png')}}" alt="">
        </div>
{#         
        <div class="col-lg-3 merchant1"><img src="{{asset('build/images/merchants/spinneys.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/merchants/roadster.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/merchants/toters.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/merchants/alfa.png')}}" alt=""></div>
        <div class="col-lg-3 merchant5"><img src="{{asset('build/images/merchants/charcutier.png')}}" alt=""></div> #}
        <div class="viewAll">
            <a class="btnviewall" href="#">{{'View_All'|trans}}</a>
        </div>
    </div>
</div>