<div class="merchants">
    <div class="row">
        <div class="network">Merchant Network</div>
        <div class="partner">Our lovely partner</div>
        <div class="col-lg-3 merchant1"><img src="{{asset('build/images/spinneys.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/donkin.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/zwz.png')}}" alt=""></div>
        <div class="col-lg-2"><img src="{{asset('build/images/abc.png')}}" alt=""></div>
        <div class="col-lg-3 merchant5"><img src="{{asset('build/images/aoun.png')}}" alt=""></div>
    </div>
</div>