<div class="container-fluid notification-section">
    <div class="row">
        <div class="col-lg-6">
            <div class="image">
                <img src="{{asset('build/images/notifications.png')}}" alt="">
            </div>
            
        </div>
        <div class="col-lg-6">
            <div class="updated">UPDATED ON THE GO</div>
            <div class="receive">Receive notifications for<br> your every transaction</div>
            <div class="title">Real-time updates on your financial activity, including purchases, deposits, withdrawals, and transfers.</div>
            <div class="checked">
                <span> <img src="{{asset('build/images/check.svg')}}" alt=""> Monitor your financial activities - Instant notifications the second you pay.</span>
                <span> <img src="{{asset('build/images/check.svg')}}" alt=""> 100% in control of your transactions.</span>
                <span> <img src="{{asset('build/images/check.svg')}}" alt=""> Stay on top of your budget</span>
                <span> <img src="{{asset('build/images/check.svg')}}" alt=""> Customize the type of notifications you want to receive</span>
            </div>
            <a href="#" class="learnmore">Learn More</a>
        </div>
    </div>
</div>