<div class="use-money">
    <div class="container-fluid">
        <div class="home_body_desktop desktop">
			<div class="how_suyool_work">{{'EXCHANGE'|trans}}</div>
			<div class="easy_steps">{{'EXCHANGE_AT_THE_PARALLEL_MARKET_RATE'|trans|raw}}</div>
		</div>
        <div class="row">
            <div class="col-md-6 use-money-row" align="center">
                <img src="{{asset('build/images/alfa_employee/exchange.png')}}" alt="">
            </div>
            <div class="col-md-6">
                <div class="desc exchange">{{'EXCHANGE_AT_THE_LIVE_PARALLEL_MARKET_RATE'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.svg')}}" alt="">
                        <p>{{'EXCHANGE_AT_THE_PARALLEL_MARKET_RATE_ANY_TIME_OF_ANY_DAY'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.svg')}}" alt="">
                        <p>{{'NO_WAIT_AT_THE_EXCHANGE_HOUSES'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.svg')}}"/>
                    </div>
                    {# <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'AUTO_CONVERSION_FEATURE_WITH_QR_PAYMENTS_OFFERS'|trans}}</p>
                    </div> #}
                </div>
            </div>
        </div>
    </div>

</div>