<div class="topSectionUsjEmp">
	<div class="desktopMode"><img src="{{ asset('build/images/usj/topImage.png') }}"/></div>
	<div class="tabletMode"><img src="{{ asset('build/images/usj/topImageTablet.png') }}"></div>
	<div class="mobileMode"><img src="{{ asset('build/images/usj/usjMobile.png') }}"></div>
	<div class="container">

		{# <div class="logos">
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		            <span>x</span>
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		        </div> #}
		<div class="information">
			<div class="title">
				{{'USJ_IS_BRINGING_YOUR_PAY'|trans|raw}}
			</div>
			<div class="desc">
				{{'FACING_TODAY_FINANCIAL_CHALLENGES'|trans|raw}}
			</div>
			<div class="OpenSuyoolAccount">
				<button class="OpenYourSuyoolAccount">
					{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}
				</button>
			</div>
		</div>

	</div>
</div>
<div class="InfoSection">
	<div class="container">
		<div class="row">
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/card.png') }}" alt="">
				<div class="desc">{{'FREE_PLATINUM_MASTERCARD'|trans}}</div>
			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/cashout.png') }}" alt="">
				<div class="desc">{{'FREE_PAYROLL_CASH_OUT'|trans}}</div>
			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/arrow.png') }}" alt="">
				<div class="desc">{{'SEND_RECEIVE_MONEY_FOR_FREE'|trans}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/internationally.png') }}" alt="">
				<div class="desc">{{'SEND_MONEY_INTERNATIONALLY'|trans}}</div>

			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/payroll.png') }}" alt="">
				<div class="desc">{{'PAY_BILLS'|trans}}</div>

			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/payQr.png') }}" alt="">
				<div class="desc">{{'PAY_WITH_SUYOOL_QR'|trans}}</div>

			</div>
		</div>
	</div>
</div>
