<div class="topSectionUsjEmp">
	<div class="desktopMode"><img src="{{ asset('build/images/usj/topImage2.png') }}"/></div>
	<div class="tabletMode"><img src="{{ asset('build/images/usj/topImageTablet.png') }}"></div>
	<div class="mobileMode"><img src="{{ asset('build/images/usj/usjMobile.png') }}"></div>
	<div class="container">

		{# <div class="logos">
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		            <span>x</span>
		            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
		        </div> #}
		<div class="information">
			<div class="title">
				{{'USJ_IS_BRINGING_YOUR_PAY'|trans|raw}}
			</div>
			<div class="desc">
				{{'FACING_TODAY_FINANCIAL_CHALLENGES'|trans|raw}}
			</div>
			<div class="OpenSuyoolAccount">
				<div class="desktopMode">
				<button class="OpenYourSuyoolAccount" data-bs-toggle="modal" data-bs-target="#DownloadApp">
					{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}
				</button>
				</div>
				<div class="mobileMode">
				<button class="OpenYourSuyoolAccount">
					{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}
				</button>
				</div>
				<div class="tabletMode">
				<button class="OpenYourSuyoolAccount">
					{{'OPEN_YOUR_SUYOOL_ACCOUNT'|trans}}
				</button>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="InfoSection">
	<div class="container">
		<div class="row">
			<div class="easy_steps_top">{{'6_WAYS_TO_USE_YOUR_MONEY'|trans}}</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/card2.svg') }}" alt="">
				<div class="desc">{{'FREE_PLATINUM_MASTERCARD'|trans}}</div>
			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/cashout.svg') }}" alt="">
				<div class="desc">{{'FREE_PAYROLL_CASH_OUT'|trans}}</div>
			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/arrow1.svg') }}" alt="">
				<div class="desc">{{'SEND_RECEIVE_MONEY_FOR_FREE'|trans}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/request-money.svg') }}" alt="">
				<div class="desc">{{'REQUEST_MONEY'|trans}}</div>
			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/payroll.svg') }}" alt="">
				<div class="desc">{{'PAY_BILLS'|trans}}</div>

			</div>
			<div class="col-md-4 MasterCard">
				<img src="{{ asset('build/images/alfa_employee/payQr1.svg') }}" alt="">
				<div class="desc">{{'PAY_WITH_SUYOOL_QR'|trans}}</div>

			</div>
		</div>
	</div>
</div>
