<div class="use-money">
    <div class="container-fluid">
        <div class="home_body_desktop desktop">
            <div class="how_suyool_work">{{'WHAT_CAN_I_DO_WITH_MY_MONEY'|trans}}</div>
            <div class="easy_steps">{{'6_WAYS_TO_USE_YOUR_MONEY'|trans}}</div>
            <div class="manage_spend">{{'ALL_YOUR_FINANCIAL_NEEDS_IS_ONE_APP'|trans}}</div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/receive.svg')}}" alt=""></div>
					<div class="tabletMode"><img src="{{asset('build/images/alfa_employee/receive.svg')}}" alt=""></div>
					<div class="mobileMode"><img src="{{asset('build/images/alfa_employee/receiveMobile.svg')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">{{'SEND_RECEIVE_MONEY_FREE_OF_CHARGE'|trans}}</div>
                <div class="desc">{{'SEND_RECEIVE_MONEY_TO_ANY_LEBANESE_MOBILE_NUMBER'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'ANYTIME_DAY_OR_NIGHT'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'IN_BOTH_CURRENCIES_LBP_OR_USD'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'FOR_AS_MANY_TIMES_AS_YOU_WANT_UP_TO_YOUR_WALLET_LIMIT'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'INSTANT_AVAILABILTY_OF_FUNDS_IN_WALLETS'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-lg-6 order-2">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/requestMoney.svg')}}" alt=""></div>
                    <div class="tabletMode"><img src="{{asset('build/images/alfa_employee/requestMoney.svg')}}" alt=""></div>
                    <div class="mobileMode"><img src="{{asset('build/images/alfa_employee/requestMoneyMobile.svg')}}" alt=""></div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="container-fluid">
                    <div class="title">Request money from anyone with a Lebanese number</div>
                    <div class="desc">All you need is their phone number to request money.</div>
                    <div class="list">
                        <div class="check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p>If they are a Suyool user they will be notified instantly via notification.</p>
                        </div>
                        <div class="check">
                            <img src="{{asset('build/images/check.svg')}}" alt="">
                            <p>If they don't have an account, they will have 3 options to pay you: Open a Suyool account, deposit the amount at BOB Finance using a code generated, or settle the amount via card payment </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/prepaid.png')}}" alt=""></div>
					<div class="tabletMode"><img src="{{asset('build/images/alfa_employee/prepaid.png')}}" alt=""></div>
					<div class="mobileMode"><img src="{{asset('build/images/alfa_employee/prepaidMobile.png')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">{{'PAY_BILLS'|trans}}</div>
                <div class="desc">{{'PAY_BILLS_FROM_DIRECTLY_FROM_OUR_APP'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'PREPAID_RECHARGE_CARDS'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'POST_PAID_BILLS'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'LIVE_NOTIFICATION_ONCE_PAYMENT_IS_DONE'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6 order-2">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/bobCashin.png')}}" alt=""></div>
					<div class="tabletMode"><img src="{{asset('build/images/alfa_employee/bobCashin.png')}}" alt=""></div>
					<div class="mobileMode"><img src="{{asset('build/images/alfa_employee/bobCashinMobile.png')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-2">
                <div class="title">{{'CASH_OUT_YOUR_PAYROLL'|trans}}</div>
                <div class="desc">{{'FROM_ANY_BOB_BRANCHES'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'CASH_YOUR_PAYROLL_INSTANTLY_WITHOUT_LIMITS'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'FIND_YOUR_NEAREST_BRANCH_FROM_MOR_THAN_700'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'YOU_CAN_SEND_SOMEONE_TO_CASH_OUT_ON_YOUR_BEHALF'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="row use-money-row">#}
{#            <div class="col-md-6 order-2">#}
{#                <div class="image">#}
{#                    <img src="{{asset('build/images/alfa_employee/worldMoney.svg')}}" alt="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-6 order-md-1 order-2">#}
{#                <div class="title">{{'TRANSFER_MONEY_INTERNATIONALLY'|trans}}</div>#}
{#                <div class="desc">{{'TRANSFER_MONY_INTERNATIONALLY_AT_COMPETITIVE_FEES'|trans}}</div>#}
{#                <div class="list">#}
{#                    <div class="check">#}
{#                        <img src="{{asset('build/images/check.png')}}" alt="">#}
{#                        <p>{{'TO_MORE_THAN_110_COUNTRIES_STARTING_AT_5'|trans}}</p>#}
{#                    </div>#}
{#                    <div class="check">#}
{#                        <img src="{{asset('build/images/check.png')}}" alt="">#}
{#                        <p>{{'IN_JUST_A_FEW_STEPS_FROM_THE_COMFORT_OF_YOUR_HOME'|trans}}</p>#}
{#                    </div>#}
{#                    #}{# <div class="check">#}
{#                        <img src="{{asset('build/images/check.png')}}" alt="">#}
{#                        <p>{{'FILL_IN_THE_NEEDED_INFORMATION_SEND_THE_TRANSFERIN_A_TAP'|trans}}</p>#}
{#                    </div> #}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/countries.svg')}}" alt=""></div>
						<div class="tabletMode"><img src="{{asset('build/images/alfa_employee/countries.svg')}}" alt=""></div>
						<div class="mobileMode"><img src="{{asset('build/images/alfa_employee/countriesMobile.svg')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">{{'USE_CARD_EVERYWHERE'|trans}}</div>
                <div class="desc">{{'LOCALLY_ONLINE_INTERNATIONALLY'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'AT_NON_SUYOOL_MERCHANTS'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'ONLINE_ON_ALL_THE_WEBSITES'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'ANYWHERE_IN_THE_WORLD_WHILE_BENEFITING_FROM_'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6 order-2">
                <div class="image">
                    <div class="desktopMode"><img src="{{asset('build/images/alfa_employee/qr.png')}}" alt=""></div>
						<div class="tabletMode"><img src="{{asset('build/images/alfa_employee/qr.png')}}" alt=""></div>
						<div class="mobileMode"><img src="{{asset('build/images/alfa_employee/qrMobile.png')}}" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-2">
                <div class="title">{{'PAY_WITH_SUYOOL_QR'|trans}}</div>
                <div class="desc">{{'AT_SUYOOL_MERCHANTS_OFFLINE_ONLINE'|trans}}</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'SAFEST_PAYMENT_METHOD'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'FASTEST_CHECKOUT_FOR_A_SEAMLESS_EXPERIENCE'|trans}}</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'AUTO_CONVERSION_FEATURE_WITH_QR__PAYMENTS_OFFERS_FREE_AUTOMATIC'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>