<div class="use-money">
    <div class="container-fluid">
        <div class="home_body_desktop desktop">
            <div class="how_suyool_work">WHAT CAN I DO WITH MY MONEY?</div>
            <div class="easy_steps">6 Ways To Use Your Money</div>
            <div class="manage_spend">All your financial needs in one App</div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/receive.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">Send & Receive money free of charge</div>
                <div class="desc">Send & Receive money to any Lebanese mobile number.</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Anytime, day or night.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>In both currencies, LBP or USD.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>For as many times as you want up to your wallet limit.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Instant availability of funds in wallets.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6 order-2">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/bobCashin.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-2">
                <div class="title">Cash Out Your Payroll</div>
                <div class="desc">From any BoB branches.</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Cash out your payroll instantly - without limits</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Cash out your payroll from 700+ BOB Finance cash points across Lebanon</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>You can send someone to cash out on your behalf.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/prepaid.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">Pay Bills</div>
                <div class="desc">Pay Bills from directly from our app.</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Prepaid recharge cards.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Post paid bills.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Live notification once payment is done.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6 order-2">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/worldMoney.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-2">
                <div class="title">Transfer Money Internationally</div>
                <div class="desc">Transfer money internationally at competitive fees.</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>To more than 110 countries starting at $5.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>In just a few steps from the comfort of your home.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Fill in the needed information & send the transfer in a tap</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/countries.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">Use Card everywhere</div>
                <div class="desc">Locally, online & internationally</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>At non Suyool merchants.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Online on all the websites.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Anywhere in the world while benefiting from the instant availability of transferred funds.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row use-money-row">
            <div class="col-md-6 order-2">
                <div class="image">
                    <img src="{{asset('build/images/alfa_employee/qr.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6 order-md-1 order-2">
                <div class="title">Pay with Suyool QR</div>
                <div class="desc">At Suyool merchants offline & online.</div>
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Safest payment method.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Fastest checkout for a seamless experience.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Auto conversion feature with QR payments offers free automatic currency conversion, ensuring you exchange only what’s necessary for your purchases.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>