<div class="alfa-mastercard">
    <div class="row">
        <div class="col-md-7 col-12 order-lg-1 order-2">
            <div class="card-desc">
                <div class="title">{{'SUYOOL_PLATINUM_MASTERCARD'|trans}}</div>
                <div class="text sub-title">{{'A_DEBIT_CARD_THAT_YOU_CAN_CONTROL_FROM_YOUR_SUYOOL_APP'|trans}} <a href="/mastercard">{{'MASTERCARD_PLATINUM_BENEFITS'|trans}}</a></div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">{{'INTERNATIONALLY_LOCALLY_ACCEPTED'|trans}}</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">{{'FULL_CONTROL_OF_YOUR_CARD'|trans}}</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">{{'PLATINUM_MASTERCARD_TRAVEL'|trans}}</p>
                </div>
                <div class="text check">
                    <img src="{{asset('build/images/check.png')}}" alt="">
                    <p class="desktop">{{'FREE_SAFE_DELIVERY_ALL_OVER_LEBANON'|trans}}</p>
                </div>
            </div>
        </div>
        <div class="card-img-desk col-md-5 order-lg-2 order-1">
            <img src="{{ asset('/build/images/homepage/mastercard-security.svg') }}" alt="">
        </div>
    </div>
</div>