{% extends 'base.html.twig' %}

{% block title %}Payment
{% endblock %}

{% block body %}
	<div class="desktopMode">
		<div class="desktop-logo">
			<img src="{{asset('build/images/payment/nonsuyooler-flow-suyool-cover-desktop.svg')}}" alt="" width="100%">
		</div>
		<div class="container how_to_send_money">
			{% if request_details_response.image is defined and 
					request_details_response.image is not null and 
					request_details_response.image != "" 
			%}
				<img class="user_img" src="{{request_details_response.image}}" onerror="this.src='{{asset('build/images/avatar.png')}}'">
			{% endif %}
			<span class="user_name">
				{% if request_details_response.senderName is defined %}
					{{request_details_response.senderName}}
				{% else %}
					{{ 'FNAME_LNAME'|trans }}
				{% endif %}
			</span>
			<span class="methode">&nbsp;{{ 'IS_REQUESTING'|trans }}</span>
			<span class="amount">
				{% if request_details_response.amount is defined %}
					{{request_details_response.amount}}
				{% else %}
					{{'PRICE'|trans}}
				{% endif %}
			</span>
			<br>
		</div>
		<div class="descReason">
			{% if request_details_response.transferReason is defined and request_details_response.transferReason is not empty %}
				For:{{request_details_response.transferReason}}
				{#
								{% else %}
									{{'DESCRIPTION'|trans}} 
								#}
			{% endif %}
		</div>
		<div class="container how_to_pay">
			<div class="title">{{'CHOOSE_HOW_TO_PAY_THEM_RTP'|trans}}</div>
			{% if request_details_response.allowAppDownload  is defined and 
				request_details_response.allowAppDownload  != "false" and 
				request_details_response.allowAppDownload  is not null 
			%}
				<div class="container-fluid choose_way open-suyool-account" title="Open suyool account">
					<div class="row">
						<div class="col-md-3 col-2 logo_container">
							<img class="logo" src="{{ asset('build/images/payment/pay_with_suyool.svg') }}">
						</div>
						<div class="col-md-9 col-10 text_container">
							<div class="sub_title">{{'PAY_WITH_SUYOOL'|trans}}</div>
							<div class="desc">{{'ENROLL_TO_SUYOOL_IN_3_MINUTES'|trans}}</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if request_details_response.allowCardTopup is defined and 
					request_details_response.allowCardTopup != "false" and 
					request_details_response.allowCardTopup is not null 
			%}
				<div class="container-fluid choose_way">
					<a id="topUpButtonDesk" href="{{path('app_topup_hostedsession')}}">
						<div class="row">
							<div class="col-md-3 col-2 logo_container">
								<img class="logo" src="{{ asset('build/images/payment/pay_with_card_rtp.svg') }}">
							</div>
							<div class="col-md-9 col-10 text_container">
								<div class="sub_title">{{ 'TOP_UP_ACCOUNT'|trans }}</div>
								<div class="desc">{{ 'TOP_UP_YOUR_ACCOUNT_DESC'|trans }}</div>
								{# <div class="sub-desc">
									{{request_details_response.cardtopupadditionalData}}
								</div> #}
							</div>
						</div>
					</a>
				</div>
			{% endif %}
			{% if request_details_response.allowCashin is defined and request_details_response.allowCashin != "false" and
		request_details_response.allowCashin != "False" and request_details_response.allowCashin is not null %}
				<a type="button" class="container-fluid choose_way copy-to-clipboard" href="/rtp/generateCode">
					<div class="row">
						<div class="col-md-3 col-2 logo_container">
							<img class="logo" src="{{ asset('build/images/BOBIcon.png') }}">
						</div>
						<div class="col-md-9 col-10 text_container">
							<div class="sub_title">Pay at BOB Finance in Cash</div>
							<div class="desc">Visit the nearest BOB Finance outlet & pay in cash</div>
						</div>
					</div>
				</a>
			{% endif %}
			<a class="lear_abou_suyool" href="/" title="sKash">{{'LEARN_MORE_ABOUT_SUYOOL'|trans}}</a>
		</div>
	</div>
	<div class="tabletmobileMode">
		<div class="mobile-logo">
			<img src="{{asset('build/images/payment/mobiletop.svg')}}" alt="" width="100%">
		</div>
		<div class="container how_to_send_money">
			{% if request_details_response.image is defined and request_details_response.image is not null and
		request_details_response.image != "" %}
				<img class="user_img" src="{{request_details_response.image}}" onerror="this.src='{{asset('build/images/avatar.png')}}'">
			{% endif %}
			<div class="user_name">
				{% if request_details_response.senderName is defined %}
					{{request_details_response.senderName}}
				{% else %}
					{{ 'FNAME_LNAME'|trans }}
				{% endif %}
			</div>
			<div class="methode">{{ 'IS_REQUESTING'|trans }}</div>

			<div class="amount">
				{% if request_details_response.amount is defined %}
					{{request_details_response.amount}}
				{% else %}
					{{'PRICE'|trans}}
				{% endif %}
			</div>
			<div class="desc">
				{% if request_details_response.transferReason is defined %}
					{{request_details_response.transferReason}}
				{% else %}
					{{'DESCRIPTION'|trans}}
				{% endif %}
			</div>
		</div>
		<div class="container how_to_pay">
			{% if request_details_response.allowAppDownload  is defined and request_details_response.allowAppDownload  != "false"
		and request_details_response.allowAppDownload  is not null %}
				<div class="title">{{'CHOOSE_HOW_TO_PAY_THEM_RTP'|trans}}
					</div>
				<div class="container-fluid choose_way open-suyool-account" title="Open suyool account">
					<div class="row">
						<div class="col-2 logo_container">
							<img class="logo" src="{{ asset('build/images/payment/pay_with_suyool.jpg') }}">
						</div>
						<div class="col-10 text_container">
							<div class="sub_title">{{'PAY_WITH_SUYOOL'|trans}}</div>
							<div class="desc">{{'ENROLL_TO_SUYOOL_IN_3_MINUTES'|trans}}</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if request_details_response.allowExternal is defined and request_details_response.allowExternal != "false"
		and request_details_response.allowExternal is not null %}
				<a class="container-fluid choose_way" href="/request/visaCard">
					<div class="row">
						<div class="col-2 logo_container">
							<img class="logo" src="{{ asset('build/images/payment/pay_with_card.jpg') }}">
						</div>
						<div class="col-10 text_container">
							<div class="sub_title">{{'PAY_WITH_CARD'|trans}}</div>
							<div class="desc">{{'PAT_WITH_CARD_DESC'|trans}}</div>
						</div>
					</div>
				</a>
			{% endif %}
			{% if request_details_response.allowCardTopup is defined and request_details_response.allowCardTopup != "false"
		and request_details_response.allowCardTopup is not null %}
				<div class="container-fluid choose_way ">
					<a id="topUpButtonMob" href="{{path('app_topup_hostedsession')}}">
						<div class="row">
							<div class="col-2 logo_container">
								<img class="logo" src="{{ asset('build/images/payment/pay_with_card_rtp.svg') }}">
							</div>
							<div class="col-10 text_container">
								<div class="sub_title">{{ 'TOP_UP_ACCOUNT'|trans }}</div>
								<div class="desc">{{ 'TOP_UP_YOUR_ACCOUNT_DESC'|trans }}</div>
								{# <div class="sub-desc">
									{{request_details_response.cardtopupadditionalData}}
								</div> #}
							</div>
						</div>
					</a>
				</div>
			{% endif %}
			{% if request_details_response.allowCashin is defined and request_details_response.allowCashin != "false" and
		request_details_response.allowCashin != "False" and request_details_response.allowCashin is not null %}
				<a type="button" class="container-fluid choose_way copy-to-clipboard" href="/rtp/generateCode">
					<div class="row">
						<div class="col-2 logo_container">
							<img class="logo" src="{{ asset('build/images/BOBIcon.png') }}">
						</div>
						<div class="col-10 text_container">
							<div class="sub_title">Pay at BOB Finance in Cash</div>
							<div class="desc">Visit the nearest BOB Finance outlet & pay in cash</div>
						</div>
					</div>
				</a>
			{% endif %}
			<a class="lear_abou_suyool" href="/" title="sKash">{{'LEARN_MORE_ABOUT_SUYOOL'|trans}}</a>
		</div>
	</div>
	{# <form style="display: none" name="myFormRequest" id="myFormRequest" method="post" action="{{app.request.schemeAndHttpHost}}/topup">
		<input type="hidden" name="Request" value="true">
	</form> #}
{% endblock %}
