<div class="col-md-2 sidebar">
    <div class="flex-nowrap">
        <div class="col-auto bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="{{ path('admin_homepage') }}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Suyool Admin</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_users') }}" class="nav-link px-0 align-middle">
                            {# <i class="fas fa-user"></i>  #}
                            <span class="ms-1 d-none d-sm-inline text-white">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_email_subscribers') }}" class="nav-link px-0 align-middle">
                            {# <i class="far fa-envelope"></i>  #}
                            <span class="ms-1 d-none d-sm-inline text-white">Email subscriber</span>
                        </a>
                    </li>
                    <li>
                        <a href="#loto" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/><span class="ms-1 d-none d-sm-inline text-white">Loto</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="loto" data-bs-parent="#loto">
                            <li class="w-100">
                                <a href="{{ path('admin_loto_orders') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Orders</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_loto_winningtickets') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Winning tickets</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#shopify" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">Shopify</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="shopify" data-bs-parent="#shopify">
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_credentials') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Credentials</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_orders') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Orders</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_ordersTest') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Orders Test</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_session') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Sessions</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_requestedData') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Requested Data</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_shopify_logs') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Logs</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#estores" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">EStores</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="estores" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ path('admin_estore_company') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Companies</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_estore_price') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Prices</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_estore_products') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Products</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#alfa" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">Alfa</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="alfa" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ path('admin_alfa_ordersPre') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Prepaid</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_alfa_postpaidRequest') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Postpaid Request</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_alfa_ordersPost') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Postpaid</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_alfa_orders') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Orders</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_alfa_logs') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Logs</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#touch" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">Touch</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="touch" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ path('admin_touch_prepaid') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Prepaid</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_touch_postpaidRequest') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Postpaid Request</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_touch_postpaid') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Postpaid</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_touch_orders') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Orders</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_touch_logs') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Logs</span></a>
                            </li>
                        </ul>
                    </li>
                        <li>
                            <a href="#gift2games" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">Gift2Games</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="gift2games" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="{{ path('admin_gift2games_products') }}" class="nav-link px-0"><span class="d-none d-sm-inline">Products</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="{{ path('admin_gift2games_logs') }}" class="nav-link px-0"><span class="d-none d-sm-inline">Logs</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="{{ path('admin_gift2games_transactions') }}" class="nav-link px-0"><span class="d-none d-sm-inline">Transactions</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="{{ path('admin_gift2games_orders_list') }}" class="nav-link px-0"><span class="d-none d-sm-inline">Orders</span></a>
                                </li>
                            </ul>
                        </li>
                    <li>
                        <a href="#ogero" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">Ogero</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="ogero" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ path('admin_ogero_landLine') }}" class="nav-link px-0"><span class="d-none d-sm-inline">LandLine</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_ogero_landLineReqest') }}" class="nav-link px-0"><span class="d-none d-sm-inline">LandLine Request</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_ogero_orders') }}" class="nav-link px-0"><span class="d-none d-sm-inline">Orders</span></a>
                            </li>
                        </ul>
                    </li>

                    {% endif %}

                    <li>
                        <a href="#faq" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="{{asset('build/images/plusadmin.svg')}}" width="13px"/> <span class="ms-1 d-none d-sm-inline text-white">FAQ</span>
                        </a>
                        <ul class="collapse nav flex-column ms-1" id="faq" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{{ path('admin_questions') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Questions</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_questions_categories') }}" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Questions Category</span></a>
                            </li>
                            <li class="w-100">
                                <a href="{{ path('admin_show_questions_photo') }}" class="nav-link px-0"><span class="d-none d-sm-inline text-white">Questions Image</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    {% if app.user %}
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {# <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle"> #}
                            <span class="d-none d-sm-inline mx-1">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
