<div class="use-money-common">
    <div class="container-fluid">
        <div class="three-titles">
            <div class="title-one">{{'EXCHANGE'|trans}}</div>
            <div class="title-two">{{'EXCHANGE_AT_THE_PARALLEL_MARKET_RATE'|trans|raw}}</div>
            <div class="title-three">24/7 Exchange service from the app</div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{{ asset('build/images/alfa_employee/exchange.png') }}" alt="">
            </div>
            <div class="col-lg-6">
                <div class="card-desc">
                    <div class="sub-title">{{ "EXCHANGE_AT_THE_LIVE_PARALLEL_EVERYTIME"|trans }}</div>

                    <div class="text check">
                        <img src="{{ asset('build/images/check.svg') }}" alt="">
                        <p>{{ "EXCHANGE_AT_THE_LIVE_PARALLEL_ANY_DAT" | trans}}</p>
                    </div>
                    <div class="text check">
                        <img src="{{ asset('build/images/check.svg') }}" alt="">
                        <p>{{"NO_WAIT_AT_THE_EXCHANGE_HOUSES_SHORT" | trans}}</p>
                    </div>
                    <div class="text check">
                        <img src="{{ asset('build/images/check.svg') }}" alt="">
                        <p>{{"FOR_AS_MANY_TIMES_AS_YOU_WANT_UP_TO_YOUR_WALLET_LIMIT_SHORT" | trans}}</p>
                    </div>
                    <div class="text check">
                        <img src="{{ asset('build/images/check.svg') }}" alt="">
                        <p>{{"AUTO_CONVERSION_FEATURE_WITH_QR_PAYMENTS_OFFERS_FREE_AUTOMATIC_CURRENCY_CONVERSION" | trans}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
