<div class="solution-common">
    <div class="container-fluid">
        <div class="three-titles">
            <div class="title-one">{{'SOLUTIONS'|trans}}</div>
            <div class="title-two">{{'WHY_SUYOOL'|trans}}</div>
        </div>

        <div class="row three_steps2">
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/secure.png') }}" alt="Suyool">
                            <div class="title">{{'SAFE'|trans}}</div>
                        </div>
                        <div class="description">{{'ENJOY_THE_SIMPLICITY_AND_SECURITY'|trans}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/safe.png') }}" alt="Suyool">
                            <div class="title">{{'SECURE'|trans}}</div>
                        </div>
                        <div class="description">{{'YOUR_SECURITY_IS_OUR_PRIORITY'|trans}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <div class="sub">
                        <div class="sub1">
                            <img src="{{ asset('build/images/alfa_employee/convenience.png') }}" alt="Suyool">
                            <div class="title">{{'CONVENIENT'|trans}}</div>
                        </div>
                        <div class="description">{{'AT_SUYOOL_CONVENIENCE_IS_OUR_HALLMARK'|trans}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>