<style>
    .logo{
        margin:20px auto 50px auto;
    }
    .buttonCont {
        margin-bottom: 30px;
    }
    .open-app {
        background-color: #387ea5;
        color: #fff;
        border-radius: 7px;
        padding: 7px 46px;
        font-size: 16px;
        text-decoration: none;
    }
</style>
<body>
<div align="center">
    <div class="logo">
        <img src="http://dev.suyool.com/build/images/suyool-Logo.png">
    </div>
    <div>
        <a href='{{ deepLink }}' id="deeplink-url"></a>
    </div>
    <div class="buttonCont">
        {% if deepLink is defined and deepLink is not null %}
            <a href='{{ deepLink|raw }}' id="open_app" class="open-app">Open App</a>
        {% endif %}
    </div>
</div>

<div>
    <input type="hidden" id="transaction_id" value="{{ order_id }}">
    <input type="hidden" id="merchant_id" value="{{ merchantID }}">
    <input type="hidden" id="callBack_URL" value="{{ callBackURL }}">
    <input type="hidden" id="env" value="{{ env }}">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var pollingInterval; // Variable to hold the polling interval ID

    $(document).ready(function() {
        // Initial call to checkPaymentStatus
        checkPaymentStatus({{ order_id }});
    });

    //Call .net API to check the payment status
    function checkPaymentStatus() {
        var merchant_id = $("#merchant_id").val();
        var transaction_id = $("#transaction_id").val();
        var callbackUrl = $("#callBack_URL").val();
        var env = $("#env").val();

        if (merchant_id != '' && transaction_id != '') {
            $.ajax({
                type: 'POST',
                url: "{{ main_url }}{{ path('app_Iframe_check_status') }}",
                data: {
                    merchant_id: merchant_id,
                    transaction_id: transaction_id,
                    callBack_URL: callbackUrl,
                    env: env,
                },
                success: function(data) {
                    var paymentInfo = data;

                    if (paymentInfo['Flag'] === 2 || paymentInfo['Flag'] === 4) {
                        // Continue polling if the status is 2 or 4
                        pollingInterval = setTimeout(function() {
                            checkPaymentStatus();
                        }, 3000);
                    } else {
                        // Stop polling and handle the result
                        clearInterval(pollingInterval); // Stop the polling interval

                        // Inform the user with the payment status
                        $('#text-message').html(paymentInfo['ReturnText']);
                        $('.QR-cont').hide();
                        setTimeout(function() {
                            if (window.opener) {
                                window.opener.location.href = callbackUrl;
                                window.self.close();
                            } else {
                                window.top.location.href = callbackUrl;
                            }
                        }, 3000);
                    }
                },
            });
        }
    }


    //Get the Mobile Operating System
    function getMobileOperatingSystem() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        // Windows Phone must come first because its UA also contains "Android"
        if (/windows phone/i.test(userAgent)) {
            return "Windows Phone";
        }

        if (/android/i.test(userAgent)) {
            return "Android";
        }

        // iOS detection from: http://stackoverflow.com/a/9039885/177710
        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return "iOS";
        }

        return "unknown";
    }
</script>
