<style>
    .logo{
        margin:20px auto 20px auto;
    }

    .subtitle{
        font-size: 18px;
    }
    #qr-code{
        margin: 20px 0;
    }
    #qr-code img{
        max-width: 100%;
        width: 235px;
        display: none;
    }
    .IframeCont h5 {
        margin: 0;
        margin-bottom: 9px;
        color: #465567;
        font-family: 'Helvetica Neue, Bold';
        font-size: 20px;
    }
    .stepsImageCont img {
        max-width: 45%;
    }
    .message{
        color: green;
    }
    .displayBlock {
        display: inline-block!important;
    }
    .icon-image {
        display: none;
        margin: 50px 0;
    }
</style>
<div class="pay">
    <div class="pay-qr" style="text-align: center">
        <p class="message">{{ ReturnText }}</p>
        <div class="icon-image">
            <img src="" alt="" >
        </div>
        <div class="QR-cont">
            <div class="logo">
                <img src="http://dev.suyool.com/build/images/suyool-Logo.png">
            </div>
            <div class="subtitle">
                Scan this QR to complete the tranasction
            </div>
            <div id="qr-code">
                <img class={{ displayBlock }} src={{ pictureURL }}>
            </div>
        </div>
        <div class="IframeCont" align="center">
            <h5>HOW TO PAY?</h5>
            <div class="stepsImageCont">
                <img src="https://skash.com/new/public/img/Steps-to-scan-QR-syoul.png"/>
            </div>
        </div>
        <div>
            <input type="hidden" id="transaction_id" value="{{ order_id }}">
            <input type="hidden" id="merchant_id" value="{{ merchantId }}">
            <input type="hidden" id="callBack_URL" value="{{ CallBackURL }}">
            <input type="hidden" id="env" value="{{ env }}">

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var pollingInterval; // Variable to hold the polling interval ID

    $(document).ready(function() {
        // Initial call to checkPaymentStatus
        checkPaymentStatus({{ order_id }});
    });

    function checkPaymentStatus() {
        var merchant_id = $("#merchant_id").val();
        var transaction_id = $("#transaction_id").val();
        var callbackUrl = $("#callBack_URL").val();
        var env = $("#env").val();

        if (merchant_id != '' && transaction_id != '') {
            $.ajax({
                type: 'POST',
                url: "{{ main_url }}{{ path('app_Iframe_check_status') }}",
                data: {
                    merchant_id: merchant_id,
                    transaction_id: transaction_id,
                    callBack_URL: callbackUrl,
                    env: env,
                },
                success: function(data) {
                    var paymentInfo = data;

                    if (paymentInfo['Flag'] === 2 || paymentInfo['Flag'] === 4) {
                        // Continue polling if the status is 2 or 4
                        pollingInterval = setTimeout(function() {
                            checkPaymentStatus();
                        }, 3000);
                    } else {
                        // Stop polling and handle the result
                        clearInterval(pollingInterval); // Stop the polling interval

                        // Inform the user with the payment status
                        $('#text-message').html(paymentInfo['ReturnText']);
                        $('.QR-cont').hide();

                        if (callbackUrl === "") {
                            if(paymentInfo['Flag'] === 1) {
                                $('.icon-image img').attr('src', '{{ asset('build/images/approved.png') }}');
                            } else {
                                $('.icon-image img').attr('src', '{{ asset('build/images/decline.png') }}');
                            }
                            $('.icon-image').show();

                        }else {
                            setTimeout(function () {
                                if (window.opener) {
                                    window.opener.location.href = callbackUrl;
                                    window.self.close();
                                } else {
                                    window.top.location.href = callbackUrl;
                                }
                            }, 3000);
                        }
                    }
                },
            });
        }
    }
</script>
