<div class="use-money">
    <div class="container">
        <div class="home_body_desktop desktop">
            <div class="how_suyool_work">SEND MONEY STEP-BY-STEP</div>
            <div class="easy_steps">How to Send Money to any Suyool user?</div>
        </div>
        <div>
            <div class="stepTitle mobileMode"><h1>STEP 1</h1></div>
            <div class="step1 step">
                <div class="row">
                    <div class="col desktopMode"><img src="{{asset('build/images/sendReceiveMoney/step1.png')}}" alt=""></div>
                    <div class="col step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"><div class="stepTitle desktopMode"><h1>STEP 1</h1></div><p>Tap on “Send Money” from the slider</p></div>
                    <div class="col-12 mobileMode mobImgCont"><img src="{{asset('build/images/sendReceiveMoney/step1Mobile.png')}}" alt=""></div>
                </div>
            </div>
            <div class="stepTitle mobileMode"><h1>STEP 2</h1></div>
            <div class="step2 step">
                <div class="row">
                    <div class="col desktopMode"><img src="{{asset('build/images/sendReceiveMoney/step2.png')}}" alt=""></div>
                    <div class="col">
                        <div class="step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"><div class="stepTitle desktopMode"><h1>STEP 2</h1></div> <p class="step-text1">Enter the name of the person you are sending money to</p></div>
                        <div class="step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"> <p class="step-text2">Choose the currency</p></div>
                        <div class="step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"> <p class="step-text3">Enter the amount you would like to send</p></div>
                        <div class="step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"> <p class="step-text4">Tap on “Pay”</p></div>
                    </div>
                    <div class="col-12 mobileMode mobImgCont"><img src="{{asset('build/images/sendReceiveMoney/step2Mobile.png')}}" alt=""></div>

                </div>
            </div>
            <div class="stepTitle mobileMode"><h1>STEP 3</h1></div>
            <div class="step3 step">
                <div class="row">
                    <div class="col desktopMode"><img src="{{asset('build/images/sendReceiveMoney/step3.png')}}" alt=""></div>
                    <div class="col step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"><div class="stepTitle desktopMode"><h1>STEP 3</h1></div><p>Tap on “Confirm & Pay” from the slider</p></div>
                    <div class="col-12 mobileMode mobImgCont"><img src="{{asset('build/images/sendReceiveMoney/step3Mobile.png')}}" alt=""></div>

                </div>
            </div>
            <div class="stepTitle mobileMode"><h1>STEP 4</h1></div>
            <div class="step4 step">
                <div class="row">
                    <div class="col desktopMode"><img src="{{asset('build/images/sendReceiveMoney/step4.png')}}" alt=""></div>
                    <div class="col step-text"><img class="mobileMode" src="{{asset('build/images/check.svg')}}" alt="suyool debit card"><div class="stepTitle desktopMode"><h1>STEP 4</h1></div><p>Congrats!<br> Your money is sent successfully.</p></div>
                    <div class="col-12 mobileMode mobImgCont"><img src="{{asset('build/images/sendReceiveMoney/step3Mobile.png')}}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
