{% extends 'base.html.twig' %}

{% set checkoutScriptUrl = app.request.server.get('APP_ENV') == "prod" 
    ? 'https://bobsal.gateway.mastercard.com/form/version/72/merchant/suyoolpg/session.js'
    : 'https://test-bobsal.gateway.mastercard.com/form/version/72/merchant/testsuyoolpg/session.js' %}

{% block body %}
    <script src="{{ checkoutScriptUrl }}"></script>
	{% if topup is  defined and topup == "true" %}
	<div class="topup2">
			<div class="loaderTopUp">
				{% if topup is  defined and topup == "true" %}
					<div class="mobheader">
						<div class="back">
							<img src="{{ asset('/build/images/Loto/Back.png') }}" alt="">
						</div>
						<div class="topup">Top Up</div>
						<div></div>
					</div>
				{% endif %}
			{% endif %}
            <div class="whopay">
                <div class="paying">You are paying
                    {{ app.session.get('SenderInitials') }}</div>
                <div class="row">
                    <div class="col-md-5 col-8">
                        <div class="fee">Amount</div>
                        <div class="fee">Card Processing Fees</div>
                    </div>
                    <div class="col-md-7 col-4">
                        <div class="beforefee">{% if currency == 'LL' %}
                            LL {{ amount|number_format() }}
                        {% else %}
                             {{ currency }} {{ amount|number_format(2, '.', ',') }}
                        {% endif %}</div>
                        <div class="beforefee">{% if currency == 'LL' %}
                             LL {{ fees|number_format() }}
                        {% else %}
                             {{ currency }} {{ fees|number_format(2, '.', ',') }}
                        {% endif %}</div>
                    </div>
                </div>
                <div style="border-top: 1px solid;margin-top: 15px;"></div>

                <div class="form-container">
                    <div class="info">
                        <span>Credit or Debit card</span>
                        <div class="prov-icons">
                            <img class="master" src="{{ asset('build/images/hosted-session/mastercard.png') }}" alt="">
                            <img class="visa" src="{{ asset('build/images/hosted-session/visa.png') }}" alt="">
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-row">
                            <div><span class="label-text">Name On Card</span>(exactly as shown on card) <span
                                        class="star">*</span></div>
                            <input type="text" id="cardholder-name" class="input-field" title="cardholder name"
                                   aria-label="enter name on card" value="" tabindex="5" placeholder="Cardholder name" required readonly

                            >
                        </div>
                        <div class="form-row">
                            <div><span class="label-text">Card Number </span><span class="star">*</span></div>
                            <div class="iframe-container">
                                <input type="text" id="card-number" class="input-field" title="card number" placeholder="**** **** **** ****" readonly/>
                                <i class="fa-regular fa-credit-card"></i>
                            </div>

                        </div>
                        <div><span class="label-text">Expiry Date</span><span class="star">*</span></div>
                            <div class="expires form-row">
                                <div>
                                    <select id="expiry-month" class="form-control input-md" required="" readonly>
                                        <option value="">MM</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    </div>
                                    <div>
                                        <select id="expiry-year" class="form-control input-md" required="" readonly>
                                            <option value="">YY</option>
                                            <option>24</option>
                                            <option>25</option>
                                            <option>26</option>
                                            <option>27</option>
                                            <option>28</option>
                                            <option>29</option>
                                            <option>30</option>
                                            <option>31</option>
                                            <option>32</option>
                                            <option>33</option>
                                            <option>34</option>
                                            {# <option>35</option>
                                            <option>36</option>
                                            <option>37</option>
                                            <option>38</option>
                                            <option>39</option> #}
                                        </select>
                                        </div>
                            </div>
                        <div class="form-row">
                            <div><span class="label-text">Security Code </span><span class="star">*</span></div>
                            <div class="iframe-container">
                                <input type="text" id="security-code" class="input-field" title="security code"
                                       aria-label="three digit CCV security code" value="" tabindex="4" placeholder="***" readonly>
                                    <i class="fa-solid fa-lock"></i>
                            </div>

                        </div>

                        <div style="text-align: center;white-space:nowrap;">
                            <button id="payButton" onclick="pay('card');" disabled>
                                {% if currency == 'LL' %}
                                    Pay LL {{ totalAmount|number_format() }}
                                {% else %}
                                    Pay {{ currency }} {{ totalAmount|number_format(2, '.', ',') }}
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{{asset('build/images/Loto/warning.png')}}">
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                <div class="desc"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="action" data-bs-dismiss="modal">Close</button>
                                </div>
                        </div>
                </div>
                </div>
            </div>
    </div>
    <script type="text/javascript">

        PaymentSession.configure({
            session: "{{ session }}",
            fields: {
                card: {
                    number: "#card-number",
                    securityCode: "#security-code",
                    expiryMonth: "#expiry-month",
                    expiryYear: "#expiry-year",
                    nameOnCard: "#cardholder-name"
                }
            },
            // SPECIFY YOUR MITIGATION OPTION HERE
            frameEmbeddingMitigation: ["javascript"],
            callbacks: {
                initialized: function (response) {
                    const style = document.createElement("style")
                    style.textContent = "select{padding: 0px!important;width:40px!important;text-align: center!important}"
                    document.head.appendChild(style)
                },
                formSessionUpdate: function (response) {
                    console.log(response)
                    if(response.sourceOfFunds.provided.card.nameOnCard === undefined || response.sourceOfFunds.provided.card.nameOnCard == null){
                        document.getElementById("staticBackdropLabel").innerText = "Cardholder Name Required"
                        document.querySelector(".desc").innerText = "Kindly add the cardholder name to proceed with this transaction."
                         $('#staticBackdrop').modal('show');
                         document.getElementById("payButton").disabled = false;
                         return;
                    }
                    if (response.status) {
                        if ("ok" == response.status) {
                            console.log("Session updated with data: " + response.session.id);
                            $.ajax({
                                url: "/pay",
                                method: "POST",
                                data: {
                                    card: response.sourceOfFunds.provided.card.number
                                },
                                success: function (response) {
                                    if (response.status) {
                                        window.location.href = "/3dsreceipt2";
                                    }else{
                                            document.getElementById("staticBackdropLabel").innerText = response.response.title
                                            document.querySelector(".desc").innerText = response.response.description
                                            $('#staticBackdrop').modal('show');
									}
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                }
                            });

                            if (response.sourceOfFunds.provided.card.securityCode) {
                                console.log("Security code was provided.");
                            }

                            if (response.sourceOfFunds.provided.card.scheme == 'MASTERCARD') {
                                console.log("The user entered a Mastercard credit card.")
                            }
                        } else if ("fields_in_error" == response.status) {

                            console.log("Session update failed with field errors.");
                            if (response.errors.cardNumber) {
                                console.log("Card number invalid or missing.");
                            }
                            if (response.errors.expiryYear) {
                                console.log("Expiry year invalid or missing.");
                            }
                            if (response.errors.expiryMonth) {
                                console.log("Expiry month invalid or missing.");
                            }
                            if (response.errors.securityCode) {
                                console.log("Security code invalid.");
                            }
                        } else if ("request_timeout" == response.status) {
                            console.log("Session update failed with request timeout: " + response.errors.message);
                        } else if ("system_error" == response.status) {
                            console.log("Session update failed with system error: " + response.errors.message);
                        }
                    } else {
                        console.log("Session update failed: " + response);
                    }
                }
            },
            interaction: {
                displayControl: {
                    formatCard: "EMBOSSED",
                    invalidFieldCharacters: "REJECT"
                }
            }
        });

        PaymentSession.setFocusStyle(["card.number","card.securityCode","card.nameOnCard"], {
            borderColor: 'red',
            borderWidth: '2px',
            fontFamily: 'PoppinsRegular',
        });

		PaymentSession.onValidityChange( ["card.number", "card.securityCode", "card.expiryYear", "card.expiryMonth,card.nameOnCard"],

			function (selector, role)

			{ PaymentSession.validate('card', function (allresult) {
				console.log(allresult)
			if (allresult.card["expiryMonth"].isValid && allresult.card["expiryYear"].isValid && allresult.card["securityCode"].isValid && allresult.card["number"].isValid && allresult.card["nameOnCard"].isValid) {
				document.getElementById("payButton").disabled = false;
			console.log("The field is valid");
			document.querySelector(selector).style.borderColor = "green";

			} else {
				document.getElementById("payButton").disabled = true;
                console.log("The field is invalid");
			}

			});

			});


        function pay() {
            document.getElementById("payButton").disabled = true;
            PaymentSession.updateSessionFromForm('card');
        }
    </script>

{% endblock %}
