{% extends 'base.html.twig' %}
{% block body %}
	{% if status is not defined %}
		
		{% if app.request.server.get('APP_ENV') == "dev" %}
			<script>
        function handleScriptError() {
          console.log('error');
		  if (navigator.userAgent.match(/Android/i)) {
	window.AndroidInterface.callbackHandler("GoToApp");
  } else {
	window.webkit.messageHandlers.callbackHandler.postMessage("GoToApp");
  }
        }
      </script>
			<script src="https://test-bobsal.gateway.mastercard.com/static/checkout/checkout.min.js" data-error="errorCallback" data-cancel="cancelCallback" onerror="handleScriptError()"></script>
		{% else %}
			<script>
        function handleScriptError() {
          console.log('error');
		  if (navigator.userAgent.match(/Android/i)) {
	window.AndroidInterface.callbackHandler("GoToApp");
  } else {
	window.webkit.messageHandlers.callbackHandler.postMessage("GoToApp");
  }
        }
      </script>
			<script src="https://bobsal.gateway.mastercard.com/static/checkout/checkout.min.js" data-error="errorCallback" data-cancel="cancelCallback" onerror="handleScriptError()"></script>
		{% endif %}
		<script type="text/javascript">
		window.onerror = function () {
	if (navigator.userAgent.match(/Android/i)) {
		window.AndroidInterface.callbackHandler("GoToApp");
	  } else {
		window.webkit.messageHandlers.callbackHandler.postMessage("GoToApp");
	  }
};
			sessionStorage.removeItem("HostedCheckout_sessionId");
		
function errorCallback(error) {
console.log(JSON.stringify(error));
if (navigator.userAgent.match(/Android/i)) {
	window.AndroidInterface.callbackHandler("GoToApp");
  } else {
	window.webkit.messageHandlers.callbackHandler.postMessage("GoToApp");
  }
}
function cancelCallback() {
console.log('Payment cancelled');
if (navigator.userAgent.match(/Android/i)) {
	window.AndroidInterface.callbackHandler("GoToApp");
  } else {
	window.webkit.messageHandlers.callbackHandler.postMessage("GoToApp");
  }
}

Checkout.configure({
session: {
id: "{{ session }}"
}
});

		</script>
	<div class="topup">
		 <div class="loaderTopUp">
					{% if topup is  defined and topup == "true" %}
						<div class="mobheader">
							<div class="back">
								<img src="{{ asset('/build/images/Loto/Back.png') }}" alt="">
							</div>
							<div class="topup">Top Up</div>
							<div></div>
						</div>
					{% endif %} 
		<div id="embed-target" style="display:none;overflow: auto; -webkit-overflow-scrolling: touch; border: none;" scrolling="yes">
			{% if fee is defined and beforefee is defined %}
			<div class="whopay">
				<div class="paying">You are paying
					{{app.session.get('SenderInitials')}}</div>
				<div class="row">
					<div class="col-md-5 col-8">
						<div class="fee">Amount</div>
						<div class="fee">Card Processing Fees</div>
					</div>
					<div class="col-md-7 col-4">
						<div class="beforefee">{{currency}} {{beforefee|number_format(2, '.', ',')}}</div>
						<div class="beforefee">{{currency}}
							{{fee|number_format(2, '.', ',')}}</div>
					</div>
				</div>
				<div style="border-top: 1px solid;margin-top: 15px;"></div>
			</div>
			{% endif %}
		</div>
		 <span class="loaderTopUp2">
						<img src="{{ asset('/build/images/loaderSuyool3.gif') }}" alt="">
						<div
							id="submitTopUp" style="display: none;"> 
								<button onclick="Checkout.showEmbeddedPage('#embed-target');" class="continueBtn">Continue</button>
						</div>
					</span>
				</div> 
	</div>
	{% else %}
		<div class="entireBody">
			<div class="desktopMode desktop-logo">
				<img src="{{asset('build/images/payment/nonsuyooler-flow-suyool-cover-desktop.svg')}}" alt="" class="topiveri" width="100%">
			</div>
			<div class="popup">
				<div class="image">
					<img src="{{ asset(imgsrc) }}" alt="">
				</div>
				<div class="title">
					{{title}}
				</div>
				<div class="desc">
					{{description|raw}}
				</div>
				<div class="button">
					<button class="action {% if infoSuccess is defined and infoSuccess == true %}actionAppSuccess{% elseif infoFailed is defined and infoFailed == true %}actionAppFailed{% else %}actionBrowser{% endif %}">
						{{button}}
					</button>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
