{% extends 'base.html.twig' %}
{% block body %}

    {% if status is not defined %}
        {% if app.request.server.get('APP_ENV') == "dev" %}
            <script src="https://test-bobsal.gateway.mastercard.com/static/checkout/checkout.min.js"
                    data-error="errorCallback" data-cancel="cancelCallback"></script>
        {% else %}
            <script src="https://bobsal.gateway.mastercard.com/static/checkout/checkout.min.js"
                    data-error="errorCallback" data-cancel="cancelCallback"></script>
        {% endif %}
        <script type="text/javascript">
            sessionStorage.removeItem("HostedCheckout_sessionId");

            function errorCallback(error) {
                console.log(JSON.stringify(error));
            }

            function cancelCallback() {
                console.log('Payment cancelled');
            }

            Checkout.configure({
                session: {
                    id: "{{ session }}"
                }
            });
        </script>
        <div class="loaderTopUp">
            <div class="desktopMode desktop-logo">
            </div>
            <div class="mobileMode mobile-logo">
                <img src="{{ asset('build/images/payment/mobiletop.svg') }}" alt="" width="100%">
            </div>
            <div id="embed-target" style="overflow: auto; -webkit-overflow-scrolling: touch; border: none;"
                 scrolling="yes">
            </div>
            <div id="submitTopUp">
                <button onclick="Checkout.showEmbeddedPage('#embed-target');" class="btn">Continue</button>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function () {
                var button = document.querySelector('.btn');
                button.click();
                button.style.display = 'none'
            };
        </script>

    {% else %}

        <div class="entireBody">
            <div class="desktopMode desktop-logo">
                <img src="{{ asset('build/images/payment/nonsuyooler-flow-suyool-cover-desktop.svg') }}" alt=""
                     class="topiveri" width="100%">
            </div>
            <div class="popup">
                <div class="image">
                    <img src="{{ asset(imgsrc) }}" alt="">
                </div>
                <div class="title">
                    {{title}}
                </div>
                <div class="desc">
                    {{description|raw}}
                </div>
                <div class="button">
                    <button class="action">
                        {{ button }}
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}