{% extends '@Admin/base.html.twig' %}

{% block title %}
    {{ '_LOGIN_AUTHENTICATION_SENT_EMAIL_'|trans({},'admin')|raw }}
{% endblock %}

{% block currentPage %}login{% endblock %}
{% block body %}
    <div class="loginwrapper">
        <div class="row">
            <div style="width:50%;float: none;
    display: block;
    margin: auto;">

                <div class="panel">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3>Two Factor Authentication</h3>
                    </div>
                    <div>
                        <img src="{{ base_url }}{{ asset('build/images/auth.png') }}">
                        {# Let the user select the authentication method #}
                        <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
                            {% for provider in availableTwoFactorProviders %}
                                <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
                            {% endfor %}
                        </p>

                        {# Display current two-factor provider #}
                        <p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label></p>

                        <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                            <div class="form-group">
                                <label for="_auth_code">Code</label>
                                <input id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" autofocus class="form-control" utocomplete="off" />
                            </div>

                            {% if displayTrustedOption %}
                                <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
                            {% endif %}
                            {% if isCsrfProtectionEnabled %}
                                <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                            {% endif %}
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button class="btn btn-primary send-code-sms">Send sms <span class="resend-counter hidden">20</span></button>
                        </form>

                        {# The logout link gives the user a way out if they can't complete two-factor authentication #}
                        <p class="cancel" style="margin-top: 10px;"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}