<div class="topSectionAlfaEmp">
    <div class="desktopMode"><img src="{{ asset('build/images/web-addicts/web-desktop.png') }}" alt=""/></div>
    <div class="tabletMode"><img src="{{ asset('build/images/web-addicts/web-tablet.png') }}" alt=""></div>
    <div class="mobileMode"><img src="{{ asset('build/images/web-addicts/web-mobile.png') }}" alt=""></div>
    <div class="container">
        <div class="information web-addicts">
            <div class="title">
                {{ 'ADDICTSBRINGINGYOURPAY'|trans|raw }}
            </div>
            <div class="desc">
                {{ 'FACINGTODAYFINANCIALCHALLENGES'|trans|raw }}
            </div>
            <div class="OpenSuyoolAccount">
                <div class="desktopMode">
                    <button class="OpenYourSuyoolAccount" data-bs-toggle="modal" data-bs-target="#DownloadApp">
                        {{ 'OPEN_YOUR_SUYOOL_ACCOUNT'|trans }}
                    </button>
                </div>
                <div class="mobileMode">
                    <button class="OpenYourSuyoolAccount">
                        {{ 'OPEN_YOUR_SUYOOL_ACCOUNT'|trans }}
                    </button>
                </div>
                <div class="tabletMode">
                    <button class="OpenYourSuyoolAccount">
                        {{ 'OPEN_YOUR_SUYOOL_ACCOUNT'|trans }}
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

