{# <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolUserIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Fully Enrolled</div>
                    <div class="number">{% if body.count.fully is defined %}{{body.count.fully}}{% else %} 0 {% endif %}</div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Cards Activated</div>
                <div class="number">{% if body.count.activated is defined %}{{body.count.activated}}{% else %} 0 {% endif %}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info">
                <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                <div class="title">Card Payments</div>
                <div class="number">{% if body.count.card is defined %}{{body.count.card}}{% else %} 0 {% endif %}</div>
            </div>
        </div>
    </div>
</div> #}
<div class="points aubInvitation" style="margin-top: 75px;">
    <div class="help3Steps pointSystem">
    <div class="container">
        <div class="row pointsBox">
            <div class="col-md-12 col-lg-6 pt-3 pointsContent">
                <div class="box-section">
                    <div class="userIcon"><img src="{{ asset('build/images/aub/suyoolUserIcon.svg') }}" alt="rally paper"></div>
                    <p class="desc">User fully enrolls to Suyool:</p>
                    <div class="number">{% if body.count.requested is defined and body.count.requested > body.count.fully %}{{body.count.requested}}{% elseif body.count.fully is defined and body.count.fully is defined and body.count.requested > 0  %}{{body.count.fully + body.count.requested}} {% elseif body.count.fully is defined %}{{body.count.fully }} {% else %} 0 {% endif %}</div>
                    <p class="point">+10pts</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 pt-3 pointsContent pointsContentMobile">
                <div class="box-section">
                    <div class="cardIcon"><img src="{{ asset('build/images/aub/suyoolCardIcon.svg') }}" alt="rally paper"></div>
                    <p class="desc">User requests Suyool card:</p>
                    <div class="number">{% if body.count.requested is defined %}{{body.count.requested}}{% else %} 0 {% endif %}</div>
                    <p class="point">+50pts</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

