<div class="container tableoverview">
    <div class="search">
        <img src="{{ asset('build/images/aub/search.svg') }}">
        <input type="text" name="search" placeholder="Search Member">
    </div>

    <div class="thetable desktopMode">
        <div class="inlineCercle1">
                {# {{body.rank}} #} 
                1
            </div>
        <div class="nameoftheteam">
            {{ app.session.get('username') }}
        </div>
        <div class="theborders" >
            <div class="theborder "  >
                <div class="info1">All Members</div>
                <div class="count">1000</div>
            </div>
            <div class="theborder" id="active-tab">
                <div class="info1">Entered Phone Number</div>
                <div class="count">50</div>
            </div>
            <div class="theborder">
                <div class="info1">Fully Enrolled</div>
                <div class="count">200</div>
            </div>
            <div class="theborder">
                <div class="info1">Requested Card</div>
                <div class="count">150</div>
            </div>
            <div class="theborder">
                <div class="info1">Activated Card</div>
                <div class="count">100</div>
            </div>
            <div class="theborder"  >
                <div class="info1">1<sup>st</sup> Card Payment</div>
                <div class="count">50</div>
            </div>
        </div>
        <div class="tab-information">
            <div class="marginForHeader"></div>
            <div class="member-number-name"> 
                <div class="member-number-name-left">
                    <div> Member #</div>
                    <div> Phone Number</div>
                    <div> Full Name</div>
                </div>
                <div class="member-number-name-right ">
                    <div> Status</div>
                </div>
            </div>
            <div class="marginForHeader"></div>

            <div class=" member-number-name greyBackground">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div>Ramy Saber</div>
                </div>
                <div class="member-number-name-right st pending ">
                    <div> Pending Modification</div>
                </div>
            </div>
            <div class=" member-number-name ">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div>Ramy Saber</div>
                </div>
                <div class="member-number-name-right st card ">
                    <div> Requested Card</div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="thetable mobileMode">
        {# <img src="{{ asset('build/images/aub/cercle1.svg') }}" class="inlineCercle1"/> #}
        <div class="nameoftheteam">
            {{ app.session.get('username') }}
        </div>
        <div class="theborders" >
            <div class="theborder "  >
                <div class="info1">All Members</div>
                <div class="count">1000</div>
            </div>
            <div class="theborder" id="active-tab">
                <div class="info1">Entered Phone Number</div>
                <div class="count">50</div>
            </div>
            <div class="theborder">
                <div class="info1">Fully Enrolled</div>
                <div class="count">200</div>
            </div>
            <div class="theborder">
                <div class="info1">Requested Card</div>
                <div class="count">150</div>
            </div>
            <div class="theborder">
                <div class="info1">Activated Card</div>
                <div class="count">100</div>
            </div>
            <div class="theborder"  >
                <div class="info1">1<sup>st</sup> Card Payment</div>
                <div class="count">50</div>
            </div>
        </div>
        <div class="tab-information">


            <div class=" member-number-name greyBackground">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div>Ramy Saber</div>
                </div>
                <div class="member-number-name-right st pending ">
                    <div> Pending Modification</div>
                </div>
            </div>
            <div class=" member-number-name ">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div>Ramy Saber</div>
                </div>
                <div class="member-number-name-right st card ">
                    <div> Requested Card</div>
                </div>
            </div>
            
        </div>
    </div>

</div>