<div class="container tableoverview" id="here">
	<div class="search">
		<img src="{{ asset('build/images/aub/search.svg') }}">
		<input type="text" name="search" placeholder="Search Member">
	</div>

	<div class="thetable desktopMode">
		<div class="inlineCercle1">
			{{body.rank}}
			{# 1 #}
		</div>
		<div class="nameoftheteam">
			{{ app.session.get('team_displayName') }}
		</div>
		<div class="theborders">
			<div class="theborder" id="active-tab">
				<a class="info1" id="pending">Entered Phone Number</a>
				<div class="count">
					{% if body.count.pending is defined %}
						{{body.count.pending}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
			<div class="theborder">
				<a class="info1" id="downloaded">Downloaded App</a>
				<div class="count">
					{% if body.count.downloaded is defined %}
						{{body.count.downloaded}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>

			<div class="theborder">
				<a class="info1" id="fully">Fully Enrolled</a>
				<div class="count">
					{% if body.count.fully is defined %}
						{{body.count.fully}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>

			<div class="theborder">
				<a class="info1" id="requested">Requested the Card</a>
				<div class="count">
					{% if body.count.requested is defined %}
						{{body.count.requested}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
		</div>
		<div class="tab-information" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %} style=" border-radius: 0px 0px 43px 43px;" {% endif %}>
			<div class="marginForHeader" id="normal"></div>
			<div class="member-number-name" id="normal">
				<div class="member-number-name-left">
					<div>
						Member #</div>
					<div>
						Phone Number</div>
					<div>
						Full Name</div>
				</div>
				<div class="member-number-name-right ">
					<div>
						Status</div>
				</div>
			</div>
			<div class="marginForHeader"></div>
            <input type='hidden' id='current_page'/>
				<input type='hidden' id='show_per_page'/>
				<div id="pagingBox">
			{% for key,toBeDisplayed in body.toBeDisplayed[0] %}
				{% set index = key % 2  %}
				
					<div {% if index == 1 %} class=" member-number-name greyBackground" {% elseif key == 0 %} class=" member-number-name " {% else %} class=" member-number-name " {% endif %} id="normal">
						<div class="member-number-name-left">
							<div class="fixedWidthMember">{{ toBeDisplayed.id }}</div>
							<div class="fixedWidthPhone">+{{ toBeDisplayed.mobileNo }}</div>
							<div class="fixedWidthName">{{ toBeDisplayed.fullyname }}</div>
						</div>
						<div class="member-number-name-right st {{toBeDisplayed.class}} ">
							<div>{{ toBeDisplayed.status }}</div>
						</div>
					</div>
				
			{% endfor %}
        </div>
			{# <div class="pagination justify-content-center">
				{{ knp_pagination_render(body.toBeDisplayed[0]) }}
			</div> #}
		</div>
    <div id='page_navigation'></div>

	</div>

	<div
		class="mobileMode3 logoAndTeamMember">
		{# <img src="{{ asset('build/images/aub/cercle1.svg') }}" class="inlineCercle1"/> #}
		<div class="inlineCercle1">
			{{body.rank}}
			{# 1 #}
		</div>
		<div class="nameoftheteam">
			{{ app.session.get('team_displayName') }}
			{# e4theshow #}
		</div>
	</div>
	<div class="thetable mobileMode2">
		<div class="theborders">
			<div class="theborder " {% if app.request.get('status') is defined and (app.request.get('status') is null or app.request.get('status') == 'pending') %} id="active-tab" {% endif %}>
				<div class="info1" id="pending">Entered Phone Number</div>
				<div class="count">
					{% if body.count.pending is defined %}
						{{body.count.pending}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
			<div class="theborder">
				<div class="info1" id="downloaded">Downloaded App</div>
				<div class="count">
					{% if body.count.downloaded is defined %}
						{{body.count.downloaded}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
			<div class="theborder">
				<div class="info1" id="fully">Fully Enrolled</div>
				<div class="count">
					{% if body.count.fully is defined %}
						{{body.count.fully}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
			<div class="theborder">
				<div class="info1" id="requested">Requested the Card</div>
				<div class="count">
					{% if body.count.requested is defined %}
						{{body.count.requested}}
					{% else %}
						0
					{% endif %}
				</div>
			</div>
		</div>
		<div class="tab-information">

			{% for key,toBeDisplayed in body.toBeDisplayed[0] %}
				{% set index = key % 2  %}
				<div {% if index == 1 %} class=" member-number-name greyBackground" {% elseif key == 0 %} class=" member-number-name " {% else %} class=" member-number-name " {% endif %}>
					<div class="member-number-name-left">
						<div class="fixedWidthMember">{{ toBeDisplayed.id }}</div>
						<div class="fixedWidthPhone">+{{ toBeDisplayed.mobileNo }}</div>
						<div class="fixedWidthName">{{ toBeDisplayed.fullyname }}</div>
					</div>
					<div class="member-number-name-right st {{toBeDisplayed.class}} ">
						<div>{{ toBeDisplayed.status }}</div>
					</div>
				</div>
			{% endfor %}
			<div class="pagination justify-content-center">
				{{ knp_pagination_render(body.toBeDisplayed[0]) }}
			</div>
		</div>
	</div>
	{# </div> #}
</div>
<script>
    function previous() {
  new_page = parseInt($("#current_page").val()) - 1;
  //if there is an item before the current active link run the function
  if ($(".active_page").prev(".page_link").length == true) {
    go_to_page(new_page);
  }
}

function next() {
  new_page = parseInt($("#current_page").val()) + 1;
  //if there is an item after the current active link run the function
  if ($(".active_page").next(".page_link").length == true) {
    go_to_page(new_page);
  }
}
function gotopage(page_num) {
  //get the number of items shown per page
  var show_per_page = parseInt($("#show_per_page").val());

  //get the element number where to start the slice from
  start_from = page_num * show_per_page;

  //get the element number where to end the slice
  end_on = start_from + show_per_page;

  //hide all children elements of pagingBox div, get specific items and show them
  $("#pagingBox")
    .children()
    .css("display", "none")
    .slice(start_from, end_on)
    .css("display", "flex");

  /*get the page link that has longdesc attribute of the current page and add active_page class to it
and remove that class from previously active page link*/
  $(".page_link[longdesc=" + page_num + "]")
    .addClass("active_page")
    .siblings(".active_page")
    .removeClass("active_page");

  //update the current page input field
  $("#current_page").val(page_num);
}
</script>