<div class="container tableoverview" id="here">
    <div class="search">
        <img src="{{ asset('build/images/aub/search.svg') }}">
        <input type="text" name="search" placeholder="Search Member">
    </div>

    <div class="thetable desktopMode">
        <div class="inlineCercle1">
                {{body.rank}} 
                {# 1 #}
        </div>
        <div class="nameoftheteam">
            {{ app.session.get('username') }}
        </div>
        <div class="theborders" >
            <div class="theborder" {% if app.request.get('status') is defined and (app.request.get('status') is null or app.request.get('status') == 'pending')  %}id="active-tab"{% endif %} >
                <a class="info1" href="/aub-rally-paper?status=pending" {% if app.request.get('status') is defined and (app.request.get('status') is null or app.request.get('status') == 'pending')  %}id="active"{% endif %} >Entered Phone Number</a>
                <div class="count">{% if body.count.pending is defined %}{{body.count.pending}}{% else %} 0 {% endif %}</div>
            </div>
            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'downloaded'  %}id="active-tab"{% endif %}>
                <a class="info1" href="/aub-rally-paper?status=downloaded" {% if app.request.get('status') is defined and app.request.get('status') == 'downloaded'  %}id="active"{% endif %}>Downloaded App</a>
                <div class="count">{% if body.count.downloaded is defined %}{{body.count.downloaded}}{% else %} 0 {% endif %}</div>
            </div>
            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'fully' %}id="active-tab"{% endif %}>
                <a class="info1" href="/aub-rally-paper?status=fully" {% if app.request.get('status') is defined and app.request.get('status') == 'fully' %}id="active"{% endif %}>Fully Enrolled</a>
                <div class="count">{% if body.count.fully is defined %}{{body.count.fully}}{% else %} 0 {% endif %}</div>
            </div>
            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %}id="active-tab"{% endif %}>
                <a class="info1" href="/aub-rally-paper?status=requested" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %}id="active"{% endif %}>Requested the Card</a>
                <div class="count">{% if body.count.requested is defined %}{{body.count.requested}}{% else %} 0 {% endif %}</div>
            </div>
{#            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'activated' %}id="active-tab"{% endif %}>#}
{#                <a class="info1" href="/aub-rally-paper?status=activated" {% if app.request.get('status') is defined and app.request.get('status') == 'activated' %}id="active"{% endif %}>Activated Card</a>#}
{#                <div class="count">{% if body.count.activated is defined %}{{body.count.activated}}{% else %} 0 {% endif %}</div>#}
{#            </div>#}
{#            <div class="theborder"  {% if app.request.get('status') is defined and app.request.get('status') == 'card' %}id="active-tab"{% endif %}>#}
{#                <a class="info1" href="/aub-rally-paper?status=card" {% if app.request.get('status') is defined and app.request.get('status') == 'card' %}id="active"{% endif %}>1<sup>st</sup> Card Payment</a>#}
{#                <div class="count">{% if body.count.card is defined %}{{body.count.card}}{% else %} 0 {% endif %}</div>#}
{#            </div>#}
        </div>
        <div class="tab-information" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %}style = " border-radius: 0px 0px 43px 43px;"{% endif %}>
            <div class="marginForHeader"></div>
            <div class="member-number-name"> 
                <div class="member-number-name-left">
                    <div> Member #</div>
                    <div> Phone Number</div>
                    <div> Full Name</div>
                </div>
                <div class="member-number-name-right ">
                    <div> Status</div>
                </div>
            </div>
            <div class="marginForHeader"></div>
            {% for key,toBeDisplayed in body.toBeDisplayed[0] %}
                {% set index = key % 2  %}
                <div {% if index == 1 %}class=" member-number-name greyBackground"{% elseif key == 0 %}class=" member-number-name "{% else %}class=" member-number-name "{% endif %}>
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">{{ toBeDisplayed.id }}</div>
                    <div class="fixedWidthPhone" >+{{ toBeDisplayed.mobileNo }}</div>
                    <div class="fixedWidthName">{{ toBeDisplayed.fullyname }}</div>
                </div>
                <div class="member-number-name-right st {{toBeDisplayed.class}} ">
                    <div>{{ toBeDisplayed.status }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(body.toBeDisplayed[0]) }}
            </div>
        </div>
    </div>
    
    <div class="mobileMode3 logoAndTeamMember">
            {# <img src="{{ asset('build/images/aub/cercle1.svg') }}" class="inlineCercle1"/> #}
            <div class="inlineCercle1">
                    {{body.rank}}
                    {# 1 #}
            </div>
            <div class="nameoftheteam">
                {{ app.session.get('username') }}
                {# e4theshow #}
            </div>
    </div>
    <div class="thetable mobileMode2">
        <div class="theborders" >
            <div class="theborder "  {% if app.request.get('status') is defined and (app.request.get('status') is null or app.request.get('status') == 'pending')  %}id="active-tab"{% endif %} >
                <a class="info1" href="/aub-rally-paper?status=pending" {% if app.request.get('status') is defined and (app.request.get('status') is null or app.request.get('status') == 'pending')  %}id="active"{% endif %}>Entered Phone Number</a>
                <div class="count">{% if body.count.pending is defined %}{{body.count.pending}}{% else %} 0 {% endif %}</div>
            </div>
            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'pending'  %}id="active-tab"{% endif %}>
                <a class="info1" href="/aub-rally-paper?status=downloaded" {% if app.request.get('status') is defined and app.request.get('status') == 'pending'  %}id="active"{% endif %}>Downloaded App</a>
                <div class="count">{% if body.count.downloaded is defined %}{{body.count.downloaded}}{% else %} 0 {% endif %}</div>
            </div>
            <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'fully' %}id="active-tab"{% endif %}>
                <a class="info1" href="/aub-rally-paper?status=fully" {% if app.request.get('status') is defined and app.request.get('status') == 'fully' %}id="active"{% endif %}>Fully Enrolled</a>
                <div class="count">{% if body.count.fully is defined %}{{body.count.fully}}{% else %} 0 {% endif %}</div>
            </div>
        <div class="theborder" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %}id="active-tab"{% endif %}>
        <a class="info1" href="/aub-rally-paper?status=requested" {% if app.request.get('status') is defined and app.request.get('status') == 'requested' %}id="active"{% endif %}>Requested the Card</a>
        <div class="count">{% if body.count.requested is defined %}{{body.count.requested}}{% else %} 0 {% endif %}</div>
    </div>
        </div>
        <div class="tab-information">
            {# <div class=" member-number-name greyBackground">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div class="fixedWidthName">Ramy Saber</div>
                </div>
                <div class="member-number-name-right st pending ">
                    <div> Pending Modification</div>
                </div>
            </div>
            <div class=" member-number-name ">
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">1</div>
                    <div class="fixedWidthPhone" >+961 3453277</div>
                    <div class="fixedWidthName">Ramy Saber</div>
                </div>
                <div class="member-number-name-right st card ">
                    <div> Requested Card</div>
                </div>
            </div> #}
            {% for key,toBeDisplayed in body.toBeDisplayed[0] %}
                {% set index = key % 2  %}
                <div {% if index == 1 %}class=" member-number-name greyBackground"{% elseif key == 0 %}class=" member-number-name "{% else %}class=" member-number-name "{% endif %}>
                <div class="member-number-name-left" >
                    <div class="fixedWidthMember">{{ toBeDisplayed.id }}</div>
                    <div class="fixedWidthPhone" >+{{ toBeDisplayed.mobileNo }}</div>
                    <div class="fixedWidthName">{{ toBeDisplayed.fullyname }}</div>
                </div>
                <div class="member-number-name-right st {{toBeDisplayed.class}} ">
                    <div>{{ toBeDisplayed.status }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(body.toBeDisplayed[0]) }}
            </div>
        </div>          
        </div>
    {# </div> #}
</div>

<script>
    window.addEventListener('load', function() {
        var status = '{{ app.request.get('status') }}';
        if (status) {
            // Scroll to the table element
            var tableElement = document.getElementsByClassName('tab-information');
            for (let j = 0; j < tableElement.length; j++) {
            if (tableElement[j]) {
                tableElement[j].scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
            }
        }
    });
</script>