<div class="use-money">
    <div class="container-fluid">
        <div class="home_body_desktop desktop">
			<div class="how_suyool_work">HASSLE-FREE TRANSACTIONS</div>
			<div class="easy_steps">How to Pay with Suyool QR?</div>
            <div class="desc">Suyool makes transactions hassle-free at Spinneys & other merchants</div>
		</div>
        <div class="row">
            <div class="col-lg-6 use-money-row" align="center">
                <iframe width="768" height="432" src="https://www.youtube.com/embed/8R5vadu3Nc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6">
                <div class="desc exchange"></div> 
                <div class="list">
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Safest payment method.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Fastest checkout for a seamless experience.</p>
                    </div>
                    <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>Auto conversion feature with QR payments offers free automatic currency conversion, ensuring you exchange only what’s necessary for your purchases.</p>
                    </div>
                    {# <div class="check">
                        <img src="{{asset('build/images/check.png')}}" alt="">
                        <p>{{'AUTO_CONVERSION_FEATURE_WITH_QR_PAYMENTS_OFFERS'|trans}}</p>
                    </div> #}
                </div>
            </div>
        </div>
    </div>

</div>