<div class="alfa-steps">
    <div class="home_body_desktop">
        <div class="how_suyool_work">{{howToGetTitle}}</div>
        <div class="easy_steps">{{howToGetDesc}}</div>
        <div class="manage_spend">{{howToGetText}}</div>
    </div>

    <div class="home-steps row">
        {% for step in howToGet %}
            <div class="card step col-md-3 col-11">
                <div class="head">
                    {{loop.index}}
                </div>
                <div class="title">{{step.title}}</div>
                <div class="text">{{step.description}}</div>
            </div>
        {% endfor %}
    </div>
</div>