<div class="use-money">
	<div class="container-fluid">
		<div class="row use-money-row">
			<div class="col-lg-6 order-2">
				<div class="image">
					<div class="desktopMode"><img src="{{asset('build/images/spinneys/pay-in-both.png')}}" alt=""></div>
					<div class="tabletMode"><img src="{{asset('build/images/spinneys/pay-in-both.png')}}" alt=""></div>
					<div class="mobileMode"><img src="{{asset('build/images/spinneys/pay-in-both.png')}}" alt=""></div>
				</div>
			</div>
			<div class="col-lg-6 order-lg-1 order-2">
				<div class="container-fluid">
					<div class="title">Pay In Both Currencies</div>
					<div class="desc">Pay using your preferred currency USD or LBP with Suyool QR.</div>
					<div class="list">
						<div class="check">
							<img src="{{asset('build/images/check.svg')}}" alt="">
							<p>Dual-currency accounts</p>
						</div>
						<div class="check">
							<img src="{{asset('build/images/check.svg')}}" alt="">
							<p>Most secure payment method</p>
						</div>
						<div class="check">
							<img src="{{asset('build/images/check.svg')}}" alt="">
							<p>Auto conversion feature with QR payments offers free automatic currency conversion, ensuring you exchange only what’s necessary for your purchases.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row use-money-row">
			<div class="col-md-6">
				<div class="image">
					<div class="desktopMode"><img src="{{asset('build/images/spinneys/enable-auto-conv.png')}}" alt=""></div>
					<div class="tabletMode"><img src="{{asset('build/images/spinneys/enable-auto-conv.png')}}" alt=""></div>
					<div class="mobileMode"><img src="{{asset('build/images/spinneys/enable-auto-conv.png')}}" alt=""></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="title">{{'PAY_BILLS'|trans}}</div>
				<div class="desc">Enable Auto-Conversion</div>
				<div class="list">
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>Exchange at the live parallel market rate - Everytime</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>No wait at the exchange houses.</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>For as many times as you want up to your wallet limit.</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>Auto conversion feature with QR payments offers free automatic currency conversion, ensuring you exchange only what’s necessary for your purchases.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
