<div class="use-money">
	<div class="container-fluid">
		<div class="home_body_desktop desktop">
			<div class="how_suyool_work">EXCHANGE</div>
			<div class="easy_steps">Exchange at the Accurate Market Rate.</div>
			<div class="manage_spend">24/7 Exchange service from the app</div>
		</div>
		<div class="row">
			<div class="col-md-6 use-money-row" align="center">
				<img src="{{asset('build/images/alfa_employee/exchange.png')}}" alt="">
			</div>
			<div class="col-md-6">
				<div class="desc">Exchange at the live parallel market rate - Everytime</div>
				<div class="list">
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>Exchange at the parallel market rate any time of any day.</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>No wait at the exchange houses.</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>For as many times as you want up to your wallet limit.</p>
					</div>
					<div class="check">
						<img src="{{asset('build/images/check.png')}}" alt="">
						<p>Auto conversion feature with QR payments offers free automatic currency conversion, ensuring
						you exchange only what’s necessary for your purchases.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
