<div class="topSectionAlfaEmp">
    <div class="container">
        <div class="logos">
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
            <span>x</span>
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
        </div>
        <div class="information">
            <div class="title">
                {{'ALFABRINGINGYOURPAY'|trans|raw}}
            </div>
            <div class="desc">
                {{'FACINGTODAYFINANCIALCHALLENGES'|trans|raw}}
            </div>
            <div class="OpenSuyoolAccount">
                <button class="OpenYourSuyoolAccount"> {{'OPENYOURSUYOOLACCOUNT'|trans}} </button>
            </div>
        </div>

    </div>
</div>
<div class="InfoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
        </div><div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
        </div>
    </div>
</div>