<div class="topSectionAlfaEmp">
    <div class="container">
        <div class="logos">
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
            <span>x</span>
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
        </div>
        <div class="information">
            <div class="title">
                Alfa is bringing your pay to <br> the ultimate digital account!
            </div>
            <div class="desc">
                Facing today’s financial challenges, we moved our payroll to Suyool.<br>
                You will get your own digital dual-currency account,a Platinum Mastercard<br>  & a payment tool
                with the best rates available.
            </div>
            <div class="OpenSuyoolAccount">
                <button class="OpenYourSuyoolAccount"> Open Your Suyool Account </button>
            </div>
        </div>

    </div>
</div>
<div class="InfoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
        </div><div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/mastercard.PNG') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
        </div>
    </div>
</div>