<div class="topSectionAlfaEmp">
    <div class="container">
        {# <div class="logos">
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
            <span>x</span>
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
        </div> #}
        <div class="information">
            <div class="title">
                {{'ALFABRINGINGYOURPAY'|trans|raw}}
            </div>
            <div class="desc">
                {{'FACINGTODAYFINANCIALCHALLENGES'|trans|raw}}
            </div>
            <div class="OpenSuyoolAccount">
                <button class="OpenYourSuyoolAccount"> {{'OPENYOURSUYOOLACCOUNT'|trans}} </button>
            </div>
        </div>

    </div>
</div>
<div class="InfoSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/card.png') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
                <div class="mobileMode sub-desc">You will receive your Mastercard that can be used online, in store, locally & internationally.</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/step1.png') }}" alt="">
                <div class="desc">Free Payroll Cash Out</div>
                <div class="mobileMode sub-desc">You can withdraw cash at any time from any of the 700+ BOB Finance branches - 100% of your salary FREE OF CHARGE.</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/arrow.png') }}" alt="">
                <div class="desc">Send & Receive Money for Free</div>
                <div class="mobileMode sub-desc">You can send & receive money to anyone in Lebanon with a Lebanese phone number. They don’t need to be Suyool users.</div>
            </div>
        </div><div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/world.png') }}" alt="">
                <div class="desc">Send Money Internationally</div>
                <div class="mobileMode sub-desc">You can send money to more than 110 countries at very competitive rates.</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/card.png') }}" alt="">
                <div class="desc">Pay Bills</div>
                <div class="mobileMode sub-desc">You can send money to more than 110 countries at very competitive rates.</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/card.png') }}" alt="">
                <div class="desc">Pay with Suyool QR</div>
                <div class="mobileMode sub-desc">You can send money to more than 110 countries at very competitive rates.</div>
            </div>
        </div>
    </div>
</div>