<div class="topSectionAlfaEmp">
    <div class="desktopMode"><img src="{{ asset('build/images/alfa_employee/topImagelarge.png') }}" /></div>
    <div class="tabletMode"><img src="{{ asset('build/images/alfa_employee/topImageTablet.png')  }}"></div>
    <div class="mobileMode"><img src="{{ asset('build/images/alfa_employee/alfamobilesize375.png')  }}"></div>
    <div class="container">
        {# <div class="logos">
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
            <span>x</span>
            <img src="{{ asset('build/images/alfa_employee/suyool.png') }}">
        </div> #}

        <div class="information">
            <div class="title">
                {{'ALFABRINGINGYOURPAY'|trans|raw}}
            </div>
            <div class="desc">
                {{'FACINGTODAYFINANCIALCHALLENGES'|trans|raw}}
            </div>
            <div class="OpenSuyoolAccount">
                <button class="OpenYourSuyoolAccount"> {{'OPENYOURSUYOOLACCOUNT'|trans}} </button>
            </div>
        </div>

    </div>
</div>
<div class="InfoSection">
    <div class="container">
        <div class="row">
            <div class="easy_steps_top">6 Ways To Use Your Money</div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/card.svg') }}" alt="">
                <div class="desc">Free Platinum MasterCard</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/cashout.svg') }}" alt="">
                <div class="desc">Free Payroll Cash Out</div>
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/arrow.svg') }}" alt="">
                <div class="desc">Send & Receive Money for Free</div>
            </div>
        </div><div class="row">
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/internationally.svg') }}" alt="">
                <div class="desc">Send Money Internationally</div>
  
            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/payroll.svg') }}" alt="">
                <div class="desc">Pay Bills</div>

            </div>
            <div class="col-md-4 MasterCard">
                <img src="{{ asset('build/images/alfa_employee/payQr.svg') }}" alt="">
                <div class="desc">Pay with Suyool QR</div>

            </div>
        </div>
    </div>
</div>