<div class="info-purple-section">
    <div class="info-content">
        <div class="text top-title">{{ infoPurpleSection.topTitle }}</div>
        <div class="title">{{ infoPurpleSection.title }}</div>
        <div class="text">{{ infoPurpleSection.text }}</div>
        <a id="openSuyoolAccount" href="{{ infoPurpleSection.buttonLink }}" class="blue-btn">{{ infoPurpleSection.buttonText }}</a>
    </div>
</div>
