<div class="solution benefits">
    <div class="container-fluid">
        <div class="three-titles">
            <div class="title-one">{{ benefitsTitle }}</div>
            <div class="title-two">{{ benefitsSubTitle }}</div>
        </div>

        <div class="row three_steps2">
            {% for benefit in benefits %}
                <div class="col-lg-4 mt-5">
                    <div class="step">
                        <div class="sub sub-benefits">
                            <div class="text-center"><img src="{{ asset(benefit.image) }}" alt="{{ benefit.title }}" title="{{ benefit.title }}"></div>
                            <div>
                                <div class="title text-center">{{ benefit.title }}</div>
                            </div>
                            <div class="description">{{ benefit.description|raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
