<div class="alfa-mastercard">
    <div class="container-fluid mobile-position">
        <div class="card-desc left-section-card row">
            <div class="col-lg-7 use-money-row card-img-desk " align="center">
                <img src="{{ asset('/build/images/digital_corporate/'~payrollImagePath) }}" alt="">
            </div>
            <div class="col-lg-5">
                <div class="title exchange">{{ payrollContent.title }}</div>
                <div class="text sub-title">{{ payrollContent.subTitle }}</div>

                <div class="list">
                    {% for checkText in payrollContent.checks %}
                        <div class="text check">
                            <img src="{{ asset('build/images/check.svg') }}" alt="">
                            <p>{{ checkText }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
