<div class="top-section container-fluid">
    {% include 'elements/header-v2.html.twig' %}
    <div class="row">
        <div class="col-md-7 col-12 top-info order-2 order-md-1">
            <div class="header-text row">
                <div>{{ topSectionTitle}}</div>
            </div>
            <p>{{ topSectionDesc|raw }}</p>
            <div class="buttons-cont desktopMode">
                <button class="btn button-primary mr-5" onclick="window.location.href='#qrGetTheApp'">{{ topSectionBtn }}</button>
            </div>
            <div class="buttons-cont tabletMode">
                <button class="btn button-primary mr-5">{{ topSectionBtn }}</button>
            </div>
            <div class="buttons-cont mobileMode">
                <button class="btn button-primary mr-5 ">{{ topSectionBtn }}</button>
            </div>

        </div>
    </div>
</div>
{% include 'elements/infoSection.html.twig' %}
